<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-award" viewBox="0 0 22.529 22.772">
        <path d="M5.588 20.534H16.94v2.238H5.59zM21.435 1.212h-3.71A2.404 2.404 0 0 0 15.646 0h-8.76c-.89 0-1.668.49-2.082 1.212h-3.71C.49 1.212 0 1.702 0 2.305v4.513c0 .326.145.634.396.842l3.958 3.278 2.188 1.972c.16.157.325.308.5.45l.002.002a6.673 6.673 0 0 0 3.074 1.39v1.198H8.022c-.733 0-1.333.6-1.333 1.333v2.08h9.15v-2.08c0-.733-.6-1.333-1.334-1.333H12.41v-1.198a6.66 6.66 0 0 0 2.933-1.278l.003-.002a6.47 6.47 0 0 0 .652-.573l3.16-2.775 2.975-2.464c.25-.207.396-.515.396-.84V2.304c0-.603-.49-1.093-1.095-1.093zM2.185 3.398h2.302V8.21l-2.3-1.906V3.398zm18.158 2.906l-2.3 1.906V3.398h2.3v2.906z"
        />
    </symbol>
    <symbol id="icon-fb" viewBox="34.789 -4.709 13.518 27.75">
        <path d="M44.32 23.04h-6.816V10.138H34.79V3.763h2.628c-.202-2.887.298-5 1.52-6.444 1.038-1.23 2.582-1.912 4.587-2.027h4.782v6.15h-3.755c-.166.314-.25 1.092-.252 2.32h3.978v6.375H44.32V23.04zm-5.316-1.5h3.816V8.638h3.957V5.263h-3.953l-.016-.734c-.044-2.04.002-3.785 1.007-4.46l.19-.128h2.8v-3.15h-3.238c-1.557.09-2.71.58-3.485 1.496-1.04 1.23-1.41 3.298-1.1 6.144l.093.832H36.29V8.64h2.714v12.9z"
        />
    </symbol>
    <symbol id="icon-filter-dots" viewBox="0 0 24 4">
        <path d="M22 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM2 0C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
    </symbol>
    <symbol id="icon-glukhanko" viewBox="5.562 5.855 20.718 19.447">
        <path d="M17.345 7.292c.17.02.337.04.5.064a6.51 6.51 0 0 1 2.236.72c.555.315.986.763 1.32 1.375.32.58.347 1.59.347 2.574v8.715c0 .77.13 1.394.398 1.913.274.523.692.94 1.192 1.208a8.253 8.253 0 0 1-1.315.104c-1.565 0-2.305-.257-2.64-.467-.454-.29-.743-.677-.908-1.217l-.22-.72.087-.103.006-.46.074-6.276.02-1.834-.02.007V11.23c0-.356-.025-.796-.08-1.344-.06-.65-.206-1.22-.413-1.665a3.557 3.557 0 0 0-.582-.928m-6.47.482l.067.452c.05.337.168.77.37 1.355.126.372.19.722.19 1.037 0 .004-.005.104-.09.35a.563.563 0 0 1-.112.204 1.912 1.912 0 0 1-.562.34c-.072.027-.368.117-1.16.117-.474 0-1.113-.07-1.46-.395-.18-.168-.387-.435-.387-1 0-.23.05-.546.443-.938.432-.433.977-.8 1.645-1.104a8.786 8.786 0 0 1 1.057-.416m1.038 8.298c-.302.34-.558.724-.763 1.15-.343.712-.518 1.54-.518 2.463 0 1.315.35 2.33 1.048 3.02a3.493 3.493 0 0 0 1.673.922 7.16 7.16 0 0 1-.68.21c-.302.076-.883.165-1.932.165-1.128 0-2.055-.314-2.83-.96-.716-.602-1.05-1.354-1.05-2.367 0-.63.082-1.158.242-1.563a3.34 3.34 0 0 1 .687-1.08c.27-.293.578-.528.946-.722.446-.24.932-.458 1.435-.647a44 44 0 0 1 1.743-.59M14.74 5.854c-.862 0-1.798.105-2.808.306-1.01.204-1.902.488-2.677.86-.788.356-1.456.81-2.003 1.357-.548.548-.82 1.166-.82 1.855 0 .8.265 1.452.795 1.95.53.494 1.313.745 2.35.745.732 0 1.27-.067 1.624-.202a3.27 3.27 0 0 0 .954-.574c.21-.185.37-.434.48-.747.112-.315.168-.576.168-.784 0-.47-.088-.955-.26-1.46-.174-.505-.278-.88-.315-1.127a4.64 4.64 0 0 1 .876-.473c.364-.154.818-.23 1.36-.23.602 0 1.088.137 1.458.406.368.27.643.602.813 1 .16.344.265.77.313 1.274.05.5.073.908.073 1.22V13c-.717.344-1.85.737-3.406 1.176-1.55.438-2.884.86-3.993 1.266-.58.218-1.11.46-1.6.72a4.777 4.777 0 0 0-1.285.982c-.407.43-.72.926-.943 1.485-.222.56-.333 1.243-.333 2.043 0 1.398.504 2.517 1.516 3.363 1.01.844 2.232 1.264 3.664 1.264.96 0 1.71-.07 2.244-.2a9.81 9.81 0 0 0 1.674-.61 7.12 7.12 0 0 0 1.25-.757c.388-.3.79-.655 1.21-1.076h.11c.257.84.743 1.48 1.454 1.935.715.447 1.825.67 3.338.67.823 0 1.603-.097 2.338-.292a14.676 14.676 0 0 0 1.92-.646v-1.35c-.37 0-.78-.01-1.23-.028-.45-.02-.777-.076-.986-.178a1.577 1.577 0 0 1-.767-.72c-.166-.32-.25-.752-.25-1.31V12.02c0-1.316-.058-2.387-.507-3.2-.45-.822-1.054-1.444-1.816-1.876a7.772 7.772 0 0 0-2.695-.877c-1-.145-2.093-.215-3.288-.215zm-.53 16.568c-.64 0-1.18-.216-1.62-.646-.438-.434-.658-1.134-.658-2.092 0-.73.13-1.363.39-1.9a3.572 3.572 0 0 1 1.074-1.322c.432-.332.987-.648 1.668-.952a23.273 23.273 0 0 1 2.057-.804l-.073 6.276a4.786 4.786 0 0 1-1.158 1.024c-.44.28-.998.417-1.68.417z"
        />
    </symbol>
    <symbol id="icon-insta" viewBox="-3 -3 23 23">
        <path d="M14.002-1.5C16.482-1.5 18.5.52 18.5 3v11c0 2.48-2.018 4.5-4.498 4.5H3.01A4.504 4.504 0 0 1-1.488 14V3C-1.488.52.53-1.5 3.01-1.5h10.992m0-1.5H3.01C-.29-3-2.987-.3-2.987 3v11c0 3.3 2.697 6 5.997 6h10.995C17.3 20 20 17.3 20 14V3c0-3.3-2.7-6-5.998-6z"
        />
        <path d="M8.506 4.078a4.434 4.434 0 0 1 4.43 4.428c0 2.44-1.99 4.43-4.43 4.43a4.434 4.434 0 0 1-4.428-4.43 4.43 4.43 0 0 1 4.428-4.428m0-1.5a5.93 5.93 0 0 0 0 11.855c3.274 0 5.926-2.653 5.926-5.927S11.78 2.578 8.506 2.578z"/>
        <circle cx="14.646" cy="2.379" r="1.341"/>
    </symbol>
    <symbol id="icon-left-arrow" viewBox="0 0 18.944 13.984">
        <path d="M6.993 0l1.414 1.414-4.578 4.58h15.115v2H3.83l4.577 4.576-1.414 1.414L0 6.994z"/>
    </symbol>
    <symbol id="icon-location" viewBox="0 0 18.45 18.45">
        <path d="M9.225 0A9.225 9.225 0 0 0 0 9.225a9.225 9.225 0 0 0 9.225 9.225 9.225 9.225 0 0 0 9.225-9.225A9.225 9.225 0 0 0 9.225 0zm5.568 14.793C13.306 16.28 11.328 17.1 9.225 17.1s-4.08-.82-5.57-2.307C2.17 13.306 1.35 11.33 1.35 9.225s.82-4.08 2.306-5.57C5.144 2.17 7.122 1.35 9.226 1.35s4.08.82 5.567 2.306C16.28 5.144 17.1 7.122 17.1 9.226s-.82 4.08-2.307 5.567z"
        />
        <path d="M13.212 4.317L7.43 7.04a.674.674 0 0 0-.322.32l-2.79 5.865a.676.676 0 0 0 .903.898l5.85-2.827a.666.666 0 0 0 .317-.32l2.723-5.76a.673.673 0 0 0-.133-.764.67.67 0 0 0-.765-.135zm-2.943 5.867l-3.91 1.888 1.863-3.914 3.863-1.818-1.817 3.844z"
        />
        <circle cx="9.225" cy="9.225" r=".878"/>
    </symbol>
    <symbol id="icon-m-close" viewBox="3.876 3.876 11.996 11.996">
        <path d="M15.872 4.735l-.86-.86-5.138 5.14-5.138-5.14-.86.86 5.14 5.14-5.14 5.138.86.86 5.138-5.14 5.14 5.14.858-.86-5.14-5.14z"/>
    </symbol>
    <symbol id="icon-m-scroll-down" viewBox="0 0 22.5 12">
        <path d="M22.28.22a.75.75 0 0 0-1.06 0l-9.97 9.97L1.28.22A.75.75 0 1 0 .22 1.28l10.5 10.5a.748.748 0 0 0 1.06 0l10.5-10.5a.75.75 0 0 0 0-1.06z"/>
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 18">
        <path d="M0 0v18h24V0H0zm12.794 10.163c-.18.178-.456.28-.757.28-.304 0-.583-.104-.764-.285L2.84 1.665h18.445l-8.49 8.498zM7.74 8.97l-6.066 6.165V2.86L7.74 8.97zm1.177 1.184l1.165 1.175c.495.493 1.208.78 1.955.78.747 0 1.456-.283 1.946-.775l1.144-1.146 6.04 6.145H2.837l6.08-6.18zm7.392-1.146l6.016-6.02v12.145L16.31 9.008z"
        />
    </symbol>
    <symbol id="icon-newlogo-big-index" viewBox="0 0 335.87 98.11">
        <path d="M6.712 1.88c1.295.178 2.305.656 3.03 1.43.722.777 1.174 2.12 1.355 4.027l.18 4.117v14.25a.07.07 0 0 0 .016 0l-.015.3v27.863l-.18 4.116c-.182 1.91-.62 3.238-1.313 3.982-.693.746-1.688 1.193-2.982 1.342-.91.105-1.726.19-2.5.264-.047.222-.153.434-.21.667-.746-.092-1.398-.43-2.112-.08-.26.127-.523-.095-.6-.377-.262.008-.533.02-.77.02v1.432h44.61c.067-.537.47-.885.952-1.34.117.773.106 1.092-.224 1.34h12.865c-.355-.293-.28-.775-.08-1.18.24-.48.6-.482.956-.07.24.28.53.518.92.895l-.084.355h11.06v1.52h1.267a11.382 11.382 0 0 1 1.084-4.026c.602-1.252 1.295-1.88 2.08-1.88 1.124.6 2.278 1.17 3.416 1.757.19-.215.516-.226.89.055.332.25.64.516.86.844.663.335 1.31.684 1.976 1.015 2.47 1.073 5.002 1.61 7.594 1.61 5.002 0 9.268-1.162 12.794-3.49 2.576-1.7 4.2-4.012 4.895-6.922.444 2.997 1.99 5.4 4.67 7.19 3.212 2.148 6.91 3.223 11.095 3.223 6.533 0 10.788-1.267 12.765-3.803 1.978-2.535 2.967-5.474 2.967-8.815h-1.266c0 2.387-.54 4.55-1.616 6.488-1.078 1.94-2.785 2.908-5.12 2.908-1.736 0-3.172-.655-4.31-1.97-1.137-1.31-1.704-3.25-1.704-5.815l-.18-4.562v-24.34h9.03c.353.698.82 1.794 1.412 3.312.814 2.088 2.47 6.637 4.974 13.645 2.5 7.01 4.233 11.856 5.198 14.542.538 1.498 1.065 2.973 1.585 4.436.012-.007.035-.03.04-.025.12.05.208.168.382.33l-.252.17 1.05 2.963h6.42l3.574-8.993c-.31-.064-.63-.13-.976-.197.48-.506.898-.69 1.325-.682l7.74-19.476 10.488 29.35h6.51l13.382-34.81c1.584-3.816 3.29-5.874 5.12-6.173l3.29-.36v-1.43h-15.19v1.43c.48 0 .98.017 1.49.046.513.03 1.132.104 1.855.224.723.12 1.295.298 1.72.537.42.24.632.805.632 1.7 0 1.015-.394 2.684-1.176 5.01l-6.004 15.5c.035-.02.05-.048.1-.065.106-.04.364.06.406.158.196.448.17.85-.398 1.056-.11-.123-.234-.2-.255-.295-.02-.1-.045-.203-.063-.306l-.023.062a451.57 451.57 0 0 1-2.717-7.49c-.065.087-.157.178-.295.332-.1-.262-.222-.428-.18-.52.044-.092.216-.146.35-.165l-.234-.66c-1.265-3.578-2.185-6.277-2.758-8.097-.573-1.818-.89-2.937-.948-3.355a8.648 8.648 0 0 1-.09-1.252c0-1.253.42-1.968 1.264-2.147.844-.18 1.507-.268 1.99-.268h1.355v-1.43h-25c.15.332.296.535.286.723-.007.115-.28.215-.434.322-.1-.165-.276-.33-.274-.493 0-.144.18-.292.38-.554H159.2v1.43l1.988.18c.904.18 1.567.67 1.99 1.477.42.805.873 1.805 1.355 2.998l1.898 5.19-5.694 13.96a400.707 400.707 0 0 1-3.617-10.113 701.297 701.297 0 0 1-2.442-7.203c-.483-1.46-.754-2.4-.813-2.82a8.508 8.508 0 0 1-.09-1.253c0-1.253.407-1.968 1.22-2.147.814-.18 1.34-.27 1.583-.27h.633v-1.43h-31.464v-5.688l-.505.073a16.66 16.66 0 0 0-.082-.198c.144-.097.277-.245.433-.275.048-.01.102.018.156.045V5.01H123.2c-.728 1.492-1.773 3.163-3.136 5.01-1.363 1.852-3.06 3.746-5.09 5.683a44.546 44.546 0 0 1-6.4 5.1c-.187.124-.37.223-.555.34l.11.16-.428 1.313.785.21-.746 1.408c-.37.108-.836.125-1.138.352-.96.725-1.936.725-2.983.27-.146-.06-.32-.058-.643-.112-.126.763-.272 1.48-.356 2.204-.054.476.205.974-.278 1.402-.453.403-.86.863-1.51 1.057.516.69.987 1.38 1.405 2.065.238.003.49.146.775.464l-.42.146c.415.73.788 1.462 1.09 2.19a73.366 73.366 0 0 1 1.81 4.74h1.175V26.22h1.627v22.376a11.16 11.16 0 0 0-1.447-3.004 17.93 17.93 0 0 0-4.973-4.876c-1.99-1.312-4.234-2.64-6.735-3.982-2.503-1.342-4.477-2.446-5.923-3.312-1.447-.864-2.547-1.685-3.3-2.46-.55-.565-.893-1.293-1.042-2.177-.15.047-.26.104-.344.083a.394.394 0 0 1-.232-.223c-.02-.05.1-.15.156-.23l.406.312a6.455 6.455 0 0 1-.074-.987c0-1.193.527-2.192 1.582-2.998 1.054-.805 2.425-1.208 4.114-1.208 2.35 0 4.28.48 5.787 1.432 1.08.687 2.122 1.588 3.126 2.688.026-.09.05-.177.11-.287.43.225.605.487.463.955.172.207.347.407.518.626l.355-1.773c.23.026.63.195.787.067.386-.312.48-.742.45-1.232a184.985 184.985 0 0 1-5.813-2.833c-2.05-.834-4.22-1.253-6.51-1.253-4.882 0-9.012 1.208-12.387 3.625-3.376 2.416-5.063 5.83-5.063 10.246 0 1.937.41 3.65 1.208 5.152.594-.42 1.126-.808 1.68-1.095.55-.285 1.267.468 1.156 1.207-.06.4-.25.777-.417 1.262a4.496 4.496 0 0 1-1.853-.436c.83 1.26 1.903 2.41 3.246 3.438 1.597 1.224 3.585 2.476 5.968 3.76a271.664 271.664 0 0 1 5.16 2.847c.156-.315.316-.65.575-.792.664-.365.705-.96.805-1.575.348.312.695.572.973.89.198.228.413.536.407.805-.004.18-.367.466-.6.5-.557.08-1.03.27-1.38.618l.34.193c1.81 1.044 3.135 2.015 3.98 2.907.844.896 1.265 2.268 1.265 4.117 0 1.432-.542 2.55-1.627 3.355-1.085.805-2.382 1.206-3.888 1.206-2.654 0-4.898-.565-6.736-1.7-1.84-1.132-3.543-2.83-5.11-5.1-1.567-2.267-3.134-5.816-4.7-10.648h-1.086v-9.933h-.928c.846.7.823.762.102 1.564-.383-.493-.47-.982-.26-1.565h-.36a51.733 51.733 0 0 1-1.078 2.78l.126.21c-.088.04-.18.098-.262.11-1.93 4.547-4.564 8.992-7.906 13.335.455.414.993.79.76 1.485-.13.032-.26.066-.39.1l-.502-1.41c-.113.144-.217.29-.332.437-2.007 2.55-3.86 4.53-5.57 5.984.208.205.322.56.606 1.455-.425-.05-.488-.065-.954-1.15-1.852 1.514-3.528 2.374-5.022 2.57-2.955.39-5.758.598-8.41.626l-.893.013c-.003.1-.005.196.002.296-.362.017-.626-.11-.86-.284-2.04.03-4.056.064-6.023.11v-1.208l-.09.008-.088-.612.177-.018v-28.95l3.796.178c3.495.358 6.133 2.03 7.91 5.01 1.78 2.984 2.668 6.474 2.668 10.47h1.372l-.033-.04.38-.303V15.75h-1.72c0 2.184-.284 4.202-.832 6.065.038.018.082.033.094.057.235.42-.008.673-.375.963-.014-.018-.02-.03-.03-.05a17.05 17.05 0 0 1-1.524 3.21c-1.424 2.317-3.408 3.806-5.934 4.497.065.22.12.5.18.868-.875.3-1.517.972-2.502.88-.928-.084-1.653-.35-1.713-.792-.024-.17.052-.333.17-.488l-1.91.09.185-29.35h.813c.664 0 2.02.03 4.07.09 2.047.06 4.564.24 7.55.537 2.982.3 6.674 2.73 11.075 7.292 3.004 3.115 5.692 6.74 8.08 10.84a.783.783 0 0 1 .63.117c.32.198.302.735-.008.96a72.398 72.398 0 0 1 2.51 4.95h1.447V0H47.002l-.1.878a18.674 18.674 0 0 0-.235-.023V0H8.946c-.007.02.004.042-.007.064a2.504 2.504 0 0 1-1.066 1.062c-.353.17-.958-.528-.93-.952.004-.063.033-.115.05-.174H.338v1.43c.843.06 1.792.106 2.848.136 1.053.03 2.23.134 3.526.313m124.71 61.254c.07.005.138.012.207.018l-.055.714-.24.015.088-.746m-2.308-.853c.334.217.73.377.988.66.3.333.138.713-.195.977-.26.205-.55.373-1.083.73-.117-.625-.29-1.06-.246-1.47.034-.315.346-.598.535-.896m56.532-1.394c-.066-.08-.154-.15-.188-.242-.02-.05.056-.132.087-.2l.322.157-.223.286m-.133-10.66c.202.042.412.024.504.117.178.186.29.433.432.654-.17.1-.396.318-.495.27-.222-.103-.417-.317-.548-.532-.06-.097.057-.3.107-.51m-4.583 8.54c-.025.018-.178-.088-.172-.103.03-.093.094-.176.147-.265l.223.15c-.063.075-.116.167-.197.218m2.455.312l.184.848c-.07.018-.144.033-.215.05l-.23-.835c.087-.02.174-.04.26-.063m-.955.518c.027.16.096.33.066.482-.024.125-.163.23-.25.344-.057-.023-.11-.05-.168-.073.053-.25.104-.498.155-.746l.197-.005m-.385-22.694c.027.075.055.148.084.22l-.73.284-.096-.246.74-.257zm-1.056 9.565c.093.12.216.228.266.363.02.052-.126.165-.25.313-.132-.158-.292-.266-.3-.387-.008-.088.18-.19.283-.288m-.896 1.803l-.105.25-1.122-.374c.65-.514.65-.514 1.226.124m-1.185-21.42c.13.06.243.18.33.296.02.024-.112.154-.23.312l-.372-.468c.093-.05.214-.165.27-.14m-4.673-3.46l-1.078.293c-.062-.152-.134-.243-.11-.29.245-.505.564-.6 1.188-.003m-.41 11.118c-.37.407-.56.614-.92 1.013-.174-.946.217-.942.92-1.013m-7.076-8c.054 0 .11.075.166.117l-.11.167-.22-.166c.053-.043.107-.118.163-.12m-9.22 13.945c.094.03.172.11.308.21l-.327.21c-.05-.09-.123-.18-.14-.28-.008-.04.12-.153.16-.14m-.52 12.674c-.046.1-.236.13-.363.19-.046-.1-.152-.222-.125-.297.044-.123.175-.216.37-.432.068.277.166.44.12.54m-1.39-18.163l-.072.464a68.32 68.32 0 0 0-.14-.484l.212.02m.482 3.253c.782.53.782.53-.527 2.344l-.705-.25c.436-.74.835-1.417 1.232-2.095m-11.683 5.18c-.12-.022-.212-.198-.4-.396.235-.097.4-.225.495-.187a.472.472 0 0 1 .243.36c0 .08-.235.24-.337.222m3.812-4.425h-.11v-1.016h.11v1.016zm1.607 20.21c-.046.01-.197-.177-.178-.24.027-.09.155-.19.254-.208.083-.013.186.09.388.202-.215.12-.332.22-.465.247m3.63-33.736h.07v.92h-.07v-.92zm-.15 10.965a15.88 15.88 0 0 0-.207.055c-.045-.156-.093-.31-.125-.47 0-.007.134-.042.206-.063l.126.477m-.44-3.706c.084.268.164.402.152.53-.006.076-.206.214-.23.198-.114-.078-.266-.197-.27-.308-.006-.1.16-.207.348-.42m-.4 17.6l.062-.005v1.162l-.063.008v-1.165zm.388 4.076l.01-.055.017.012-.016-.012.01-.02c-.032-.565-.36-1.138.004-1.79.67.682.26 1.233-.004 1.79 0 .01.004.02.005.032-.01.014-.02.03-.027.043-.366 1.55-.167 3.22-.998 4.672.186-1.282.352-2.567.575-3.844.05-.29.268-.555.423-.828m-7.686-21.31c.06-.214.322-.376.59-.666.36.33.805.544.82.785.028.464-.457.52-.842.514-.396-.007-.68-.225-.568-.633m-.364 2.82c.486-.506 1.068-.922 1.558-1.426 1.488-1.532 3.287-1.948 5.316-1.183.11.043.196.148.293.223l-.057.273c-.268.018-.536.062-.802.048-.634-.032-1.267-.103-1.797.37-.09.078-.235.166-.338.15-.978-.153-1.557.454-2.137 1.068-.7.743-1.717 1.152-2.218 2.13-.103.202-.62.197-1.185.354.277-1.008.87-1.486 1.366-2.005M143.31 41.4l.277.58c-.1.035-.202.094-.303.094-.044 0-.13-.12-.126-.18.007-.113.065-.224.153-.494m-.82-6.48l.233.018-.094 1.328-.313-.03.172-1.316m-.023 2.61c-.157 1.05-.157 1.05-1.178 1.15.315-1.016.315-1.016 1.177-1.15m-5.383-12.997c.443.41.638.81.097 1.125-.182.106-.765-.053-.82-.21-.215-.612.382-.652.724-.914M124.04 42.407c.068.088.187.176.19.266 0 .08-.127.165-.302.37-.083-.156-.204-.285-.177-.357.043-.113.188-.188.29-.28m-.448 19.554l.198.04-.106.493c-.067-.016-.134-.03-.2-.043l.108-.49m-12.08-3.422l1.145-.127c-.543.487-.543.487-1.146.128m9.964-48.814c.056-.012.21.134.203.193-.013.09-.127.167-.233.29-.09-.113-.217-.21-.202-.27a.354.354 0 0 1 .232-.213m-1.91 15.846l-1.092.79c-.264-.832-.264-.832 1.093-.79m-.705 4.494c.865.088 1.32.377 1.277 1.11-.22.15-.534.48-.913.593-.366.11-1.093-.767-1.055-1.2.035-.4.276-.545.69-.503m-1.024 23.055c.11.13.24.22.237.303 0 .08-.144.215-.224.215-.08 0-.206-.134-.218-.223-.01-.075.11-.17.204-.296m-.433 3.97h-.48l-.058-.82.553-.016-.015.835m-.548-32.564c.1.335.164.45.157.562-.005.102-.086.2-.133.298-.09-.06-.23-.107-.257-.188-.025-.084.062-.2.232-.672m-1.79 10.858c.233.75.447 1.408.64 2.072.045.156.036.333.02.5-.05.5-.448.86-.918.832-.545-.032-.805-.495-.735-.856.165-.86-.03-1.88.992-2.548m-1.185 11.474c-.35-.022-.715-.03-1.077-.07-.377-.044-.803-.086-.803-.595 0-.45.217-.807.69-.922.273-.066.563-.07.884-.107.283.535.708.98.305 1.695m-2.693-2.374c.937-.68.662-1.686.7-2.788 1.354.708.41 2.048 1.2 2.85-1.136.36-2.112 1.307-3.18.122.438-.952.467-.956 1.28-.184m-1.21-22.677l-.787-.646c.677-.27.786 0 .786.647m-5.13 12.967l.345-1.35.284.067c.228.954.228.954-.63 1.284m2.64 14.32a54.36 54.36 0 0 1-.32.192l-.67-1.132c.71.22 1.083.39.99.94m-1.756-4.022c-.452.848-.452.848-1.323.32.308-.503.75-.348 1.323-.32m-31.644-5.898c-.98-1.01-.98-1.05-.07-2.398l1.396 1.02-1.326 1.378m9.133-9.727c.48-.29.866-.127 1.273.35l-1.625 1.043c-.17-.588-.176-1.074.352-1.393m-4.685-2.6l-.025-.54.178-.02.112.57-.265-.01m4.123 8.207c-.08.01-.316-.33-.276-.41a.848.848 0 0 1 .476-.392c.08-.022.243.242.444.458-.27.156-.45.316-.645.344m1.517 9.743l.386-2.27c.16.697.82 1.526-.386 2.27m.48-4.523l.787-1.84c.068 1.7.035 1.777-.79 1.84m2.04 9.284c-.412-.052-.583-.26-.434-.646.03-.076.222-.17.285-.14.39.18.337.468.15.786m1.447-8.013c-.086-.003-.167-.134-.25-.21.09-.073.173-.195.27-.206.082-.01.18.106.322.2-.153.103-.25.22-.343.215m1.37-5.77c-.184-.027-.33-.275-.493-.427.2-.163.38-.4.607-.455.113-.026.307.286.555.538-.294.164-.5.372-.67.346M90.544 48l-.196-.02.137-2.074.327.032-.267 2.06m7.792-8.617l.185-.007.074.495-.286.025c.01-.17.018-.34.027-.512m-4.586 1.184l-.216-.218.193-.1c.058.052.15.096.16.156.01.044-.088.108-.138.162m.795-.096l.237-1.443c.685.036.832.46 1.04 1.006l-1.277.438m-18.25 19.324l.15.096c-.053.11-.084.246-.168.326-.08.074-.214.09-.325.133a15.398 15.398 0 0 0-.103-.17l.446-.385m-7.924-.336c.08-.027.228.13.45.275-.23.144-.346.255-.475.276-.066.012-.24-.164-.225-.213.04-.13.136-.3.25-.337m-9.1 2.664c.127.07.227.19.38.336-.166.106-.313.238-.346.215a.756.756 0 0 1-.262-.337c-.016-.043.195-.23.227-.213m-2.76.258c-.18.68-.45.736-.92.26l.92-.26m-8.45-21.264c.095.043.17.13.31.244-.15.08-.278.186-.32.16-.08-.05-.128-.174-.153-.276-.008-.033.13-.142.163-.128M46.873 30.88l-.328 3.45-.19-.007.152-3.448.366.006zm-.655-3.865c.48.507.547.798.155 1.02-.09.053-.286-.07-.433-.115l.278-.905m-5.362 4.156c.073-.135.5-.242.636-.158.557.347.244.742-.016 1.198-.397-.3-.94-.44-.62-1.04M67.78 3.146c.654 1.23.64 1.35-.2 2.278l-.977-.712 1.178-1.565m-2.222.068c.01-.02.212.066.325.103l-.27.71-.36-.14c.098-.226.187-.457.305-.673m-53.182 59.82c-.204-.04-.405-.2-.548-.362-.033-.036.202-.42.263-.407.247.05.472.195.855.375-.288.21-.452.417-.57.394m4.833-11.65l-.277-.67.385-.168c.098.208.214.412.273.63.01.033-.247.137-.38.208m.243-28.19c-.552-.178-.637-.56-.22-1.145.49.188.97.3.81.898-.035.132-.427.298-.59.246m.663 29.405c-.122-.105-.296-.19-.35-.32-.05-.126.027-.3.047-.454l.27-.04.192.71-.16.105m5.62.338l-.945-.583c.753-.382 1.004-.17 1.143.277l-.198.306m-.457-3.177c0 .007.003.013.003.02l-.018-.01.018.01-.01.02.263.796c-.736-.223-.378-.53-.26-.796l-.01-.03a.078.078 0 0 0 .015-.01l-.18-1.098c.516-.352.96-.49 1.283.385l-1.103.713m.183-10.36c.077-.09.146-.244.232-.254.13-.016.274.066.563.152-.235.19-.347.354-.46.354-.11 0-.223-.162-.335-.253m6.666-16.533c-.372-1.518-.372-1.518.145-1.944.115.673.337 1.288-.146 1.944m-.43-8.49c-.54-.173-.516-.678-.432-1.143.042-.236.113-.467.16-.653l1.196 1.114c-.204.342-.326.873-.923.682m1.4 13.552c.646-.395.98-.217 1.227.48-.57.124-.95.074-1.227-.48m1.34 17.085c-.443-.652.023-1.015.178-1.478l.27.085-.447 1.392m.89-15.676l-.44.467-.237-.203.42-.485.256.222M30.646 1.94c.307-.147.716-.166 1.068-.134 1.13.107 1.594.963 1.105 1.977-.147.302-.297.603-.528 1.072-.15-.417-.226-.727-.374-.997-.146-.267-.412-.72-.546-.695-.365.072-.717.32-1.016.567-.13.11-.125.385-.172.588-.09.382-.17.766-.044 1.23l.472-.82c.163.04.297.04.312.082.318.86.434 2.235.227 2.848-.045.135-.168.296-.295.344-.628.236-.72.736-.72 1.293l.014.013.002.013 1.92-.83c.697.44.158.886-.017 1.354-.172.46-.278.945-.415 1.424-1.034-.004-1.035-.004-1.244-.873-.086-.357-.164-.716-.245-1.074l-.017.008v-.032c-.18-.19-.436-.36-.51-.584-.11-.34-.082-.722-.12-1.153h-1.15c.255-1.473.548-2.874-.18-4.25.89-.5 1.66-.977 2.473-1.37m-2.763 57.42c-.002.016-.144.012-.222.016v-.65l.276.005c-.014.21-.023.422-.053.63m-1.8-38.214c.158-.408.534-.53.95-.394.453.15.873.336.753.964-.08.422-.087.857-.137 1.39-1.057-.1-1.895-1.126-1.568-1.96m.41 39.9c-.25.178-.476.412-.546.373-.18-.1-.29-.323-.428-.497.16-.096.322-.27.474-.26.148.01.283.207.5.384m-1.01-34.19l-.565-.487.155-.204.628.446-.218.246zM23.49 1.935l2.124 1.047c-.566.425-1.072.617-1.652.34-.512-.242-.735-.65-.472-1.386m-.478 43.707c.41.34.38.63.076.89-.063.053-.286.036-.336-.027-.276-.34-.127-.602.26-.862m-.49 17.28c.024-.006.08.1.14.18l-.268.194-.167-.236c.097-.048.19-.11.294-.137m-1.77-11.898l.13.244c-.067.02-.147.07-.196.05-.048-.02-.066-.112-.097-.174l.163-.12m-2.953-42.01c.587.14 1.197.18 1.788.265l.587 1.078-3.385-.524c.255-.683.456-.953 1.01-.82m-1.154 23.362c.135.005.268.1.466.182-.14.147-.246.302-.284.287-.157-.057-.29-.168-.434-.26.084-.074.17-.21.25-.208M14.486 2.608l.278 1.27-.186.044-.346-1.254.255-.06m-2.277 5.75c.177-.036.523.013.55.1.187.634.313 1.286.502 2.13-1.074-.432-1.058-1.257-1.33-1.887-.03-.068.16-.32.278-.343m-.427 42.906l.276.137-.354.967c-.535-.6-.245-.856.08-1.104"
        />
        <path d="M104.59 23.842c-.024-.122-.186-.218-.375-.416-.1.243-.227.406-.187.5.05.116.236.177.364.26.072-.115.218-.246.198-.344m1.04-.876c-.05-.212-.052-.458-.166-.632-.042-.065-.095-.127-.142-.19-.024.182-.06.357-.097.533-.163.075-.32.13-.482.2.01.016.015.032.025.046.082.137.564.035.863.043M217.385 64.83c-.255.37-.423.762-.58 1.146.428.04.862.064 1.298.087-.37-.207-.664-.523-.718-1.233"
        />
        <path d="M332.975 63.62c-1.212-.133-2.133-.39-2.76-.773v.007l-.014-.013.015.014-.023.058-.148 1.275-.34-.078.488-1.198.01-.07v-.002a2.444 2.444 0 0 1-.525-.426c-.574-.627-.86-1.744-.86-3.355l-.09-3.67v-7.63l-.042.25c-.234-.684-.254-.82.043-1.206v-20.78c-.11.216-.228.46-.375.776-.182-.883-.313-1.528-.482-2.352l-.46 1.07c-.164-.29-.31-.44-.332-.605-.112-.818-.29-1.646-.246-2.46.025-.474.428-.928.744-1.56l-1.3-.31c.173-.957.094-2.007 1.408-2.343.33-.084.593-.427.966-.71.027.02.053.053.078.083v-1.608l-.172.332-.256-.123.33-.69.098.047V0h-26.582v1.43l1.867.12a63.534 63.534 0 0 0-.347-.284l.245-.29c.34.086.76.104.677.61l1.768.113c1.97.238 3.25.685 3.848 1.34.597.66.895 1.97.895 3.938l.18 4.117V22.55l.09 4.652c-.662-1.253-1.687-2.446-3.072-3.58-1.387-1.132-4.19-1.7-8.41-1.7-5.297 0-9.674 1.696-13.152 5.045-.02.35-.038.7-.06 1.05l-.31.003-.035-.65c-.183.185-.372.352-.548.546-1.116 1.233-2.04 2.607-2.81 4.09a22.043 22.043 0 0 0-3.474-3.822c-4.79-4.174-10.534-6.263-17.225-6.263-3.598 0-6.896.605-9.913 1.777-.07.166-.263.313-.345.417l-.36-.12a24.377 24.377 0 0 0-6.696 4.234 21.984 21.984 0 0 0-3.935 4.59 21.685 21.685 0 0 0-4.023-4.636c-4.79-4.174-10.533-6.263-17.225-6.263-6.812 0-12.584 2.102-17.314 6.308-2.333 2.073-4.085 4.407-5.268 6.995.008.014.023.025.03.04.017.04-.054.118-.138.203-1.144 2.597-1.723 5.448-1.723 8.556 0 1.988.258 3.858.72 5.637.737.028 1.49-.097 2.3-.018l-1.708.75-.437-.13c1.062 3.63 3.095 6.82 6.132 9.554 3.658 3.294 8.022 5.28 13.07 5.993.16-.605.373-1.172.75-1.69.135-.188.38-.39.593-.412l.056-.006c-.644-.514-1.19-1.22-1.628-2.14-.996-2.09-1.494-4.743-1.494-7.966 0-.416-.06-1.924-.18-4.518-.12-2.595-.18-4.31-.18-5.146.06-1.908.135-3.682.225-5.323.09-1.642.135-3.028.135-4.163 0-.868.055-1.692.138-2.49a6.592 6.592 0 0 1-.36-.415c.14.02.277.028.414.037.227-1.842.662-3.507 1.347-4.963 1.024-2.177 2.5-3.266 4.43-3.266 2.11 0 3.663 1.046 4.657 3.133.994 2.088 1.492 4.743 1.492 7.963 0 .48.06 1.97.18 4.475.122 2.505.182 4.177.182 5.01a210.328 210.328 0 0 0-.27 5.415c-.062 1.642-.09 3.06-.09 4.25 0 3.104-.515 5.73-1.538 7.875-.76 1.59-1.783 2.588-3.072 3a1.05 1.05 0 0 1-.365.344l-.13-.224a5.22 5.22 0 0 1-.745.087c-.03.147-.072.31-.133.506-.086.277-.113.58-.143.938l.066.003c6.57 0 12.282-2.102 17.134-6.308a22.08 22.08 0 0 0 4.054-4.622 21.8 21.8 0 0 0 3.805 4.525l.382.024a8.95 8.95 0 0 1-.186.15c4.654 4.15 10.423 6.23 17.31 6.23 5.573 0 10.522-1.53 14.86-4.557-.11-.266-.18-.395-.182-.518 0-.148.1-.3.157-.447.123.09.245.182.367.27l-.17.58a27.393 27.393 0 0 0 2.1-1.637 22.562 22.562 0 0 0 3.537-3.866c.777 1.527 1.708 2.932 2.838 4.18a18.085 18.085 0 0 0 4.002 3.317c.254-.153.357-.237.458-.248.096-.01.204.083.306.13l-.033.223c-.148-.008-.308-.016-.61-.028a17.643 17.643 0 0 0 5.485 2.14c.38-.644.71-1.223 1.125-1.675.223-.24.83-.135 1.262-.188.21 1.06.176 1.145-.606 1.572-.27.148-.533.312-.802.462 1.128.178 2.294.287 3.52.287 4.098 0 6.886-.595 8.362-1.788 1.477-1.192 2.547-2.385 3.21-3.58v4.475h24.413V63.8l-2.898-.18zm-5.89-47.115c.138.347.23.47.198.524-.042.07-.177.102-.275.115-.03.003-.11-.122-.104-.18.014-.107.078-.206.182-.46M199.723 32.968h.077v.687h-.077v-.687zm-1.164 14.03c-.21.09-.6.07-.754-.066-.287-.252-.247-.647.09-.857.438-.27.927-.462 1.65-.812-.118.996-.413 1.482-.987 1.734m1.235 9.652c-.087-.01-.16-.142-.24-.22.08-.073.156-.2.24-.205.084-.005.174.114.307.213-.133.098-.227.22-.307.21m11.47-21.884c.01-.013.124.054.292.13l-.46.16c.054-.098.1-.202.17-.29m-5.042-2.838l.215.203c-.088.106-.167.222-.27.314-.02.02-.127-.056-.192-.087l.247-.43m-4.27 20.494c-.135-.032-.333-.34-.293-.425.108-.227.33-.4.58-.68.18.275.363.43.363.584 0 .394-.258.617-.65.52m.632-14.954c-.044-.108-.1-.213-.122-.324-.006-.026.104-.075.19-.132.038.12.09.228.1.34.005.034-.108.077-.168.116m2.312 10.236c-.473-.938-.473-.938.25-1.668l-.25 1.668m1.237 13.866l-.283-.01.126-.73.157.012v.728zm-.17-17.832c-.016-.114.213-.37.336-.373.145-.003.293.2.533.386-.217.17-.377.385-.485.362-.156-.033-.36-.227-.382-.376m1.366 10.857c-.126.064-.26.19-.375.175-.118-.02-.216-.175-.32-.27.138-.11.263-.272.42-.313.14-.035.312.068.47.11l-.196.298m3.028-22.83l-.828 1.448c-.252-1.563-.14-1.74.828-1.446m-.27 11.517v-2.936l.127-.003.216 2.95-.344-.01m1.315 17.545l-.354-.288c.1-.095.2-.272.29-.265.117.008.224.163.333.255l-.27.298m2.05 2.452c-.022.09-.102.163-.193.296l-.2-.332c.087-.044.172-.11.263-.123.038-.005.14.116.13.16m13.62-14.55l.263.206c-.09.072-.165.162-.197.15-.067-.027-.143-.1-.16-.168-.013-.052.06-.124.094-.188m.252 12.156c-.926-.708-.933-.74-.25-1.404.118.41.24.8.34 1.19.016.06-.058.142-.09.213m2.415-10.204c-.08-.047-.072-.24-.104-.37.142-.01.294-.055.42-.016.07.022.09.187.17.372-.208.013-.382.07-.485.013m3.2-16.592l.15.034-.12.585-.195-.05.164-.57m-.078 7.623l1.672-.168-1.004 1.492-.668-1.324m1.843 1.424c.294-.276.632-.435.974-.05.35.395.26.666-.48 1.347-.784-.68-.88-.934-.495-1.296m1.42 16.295c-.363-.243-.406-.528.067-1.044.115.44.188.704.24.97.003.008-.243.115-.306.073m1.202-7.908c.202-.332.256-.502.372-.592.15-.115.35-.168.592-.275.256.86-.186.888-.964.867m2.024-1.267c-.094-.127-.217-.22-.205-.296.014-.092.14-.167.217-.25.073.075.21.15.206.222-.004.095-.115.184-.217.323m3.505-17.924c-.13-.13-.342-.247-.365-.394-.02-.133.164-.3.327-.56.187.254.382.404.376.545-.008.142-.216.275-.337.41m1.903 10.863c.012-.25-.02-.417.03-.448.225-.136.475-.233.717-.345.05.103.102.207.15.31l-.897.483m13.14 19.635l-.24-.19.15-.234c.067.074.16.14.193.227.02.047-.064.13-.102.198m10.515-13.48a116.61 116.61 0 0 0-.092 4.25c0 3.105-.512 5.73-1.536 7.876-1.026 2.147-2.532 3.22-4.52 3.22-2.05 0-3.573-1.042-4.567-3.13-.523-1.098-.898-2.363-1.148-3.775-.174.233-.436.42-.896.476l.497-1.492-.684-.812c.31-.365.45-.856.793-1.035-.02-.44-.053-.863-.053-1.326 0-.415-.06-1.923-.18-4.517-.12-2.595-.182-4.31-.182-5.146.062-1.908.137-3.682.228-5.323.09-1.64.135-3.027.135-4.162 0-3.042.512-5.65 1.538-7.83 1.025-2.177 2.502-3.266 4.43-3.266 2.11 0 3.664 1.045 4.658 3.132.994 2.088 1.49 4.743 1.49 7.963 0 .48.06 1.97.182 4.476.12 2.504.182 4.176.182 5.01a210.375 210.375 0 0 0-.273 5.413m2.59 4.544c.007-.123.145-.297.264-.336.1-.035.253.094.51.205-.23.2-.35.348-.502.41-.05.02-.278-.186-.272-.28m.63 7.895c-.093-.12-.288-.286-.257-.354.085-.195.26-.353.46-.596.167.2.36.395.343.416-.16.196-.36.36-.547.534m1.378-12.44c-.182.342-.498.465-.837.27-.402-.23-.275-.567-.03-.83.18-.193.433-.32.626-.458.516.314.428.67.242 1.017m2.686 4.192l-1.097-1.345 1.006-1.17 1.01.82-.92 1.694m4.085-18.644c-.154.07-.385-.02-.802-.06.183-.368.226-.62.364-.695a2.01 2.01 0 0 1 .88-.235c.103-.002.33.417.3.445-.217.215-.465.42-.742.546m1.66 3.684l-.13-.02v-.51l.243.045-.113.485m4.38 11.81c-.078.07-.463-.077-.607-.224-.28-.284-.494-.637-.8-1.05 1.022-.505 1.664-.262 1.745.574.02.23-.157.535-.34.7m5.05 9.948c-.05.02-.228-.106-.23-.167a.362.362 0 0 1 .167-.272c.05-.027.175.078.306.145-.103.134-.155.26-.244.295m.246-12.81c-.035-.02-.014-.142-.018-.217.107.007.22-.003.32.028.026.008.012.142.02.27-.117-.026-.233-.03-.322-.08m1.713.51c1.04.256 1.045 1.3 1.535 1.98-1.05-.276-.986-1.338-1.535-1.98m5.733-24.637l.274.018-.115.596-.16-.016V23.4zm12.71 20.445c0 1.73-.03 4.34-.09 7.83s-.15 5.922-.27 7.293c-.544 3.162-2.473 4.744-5.786 4.744-1.932 0-3.362-.896-4.297-2.686-.934-1.79-1.536-4.086-1.808-6.89-.27-2.804-.407-4.773-.407-5.907V44.2c0-1.55.03-3.235.09-5.055.06-1.82.227-3.848.5-6.084.27-2.238.87-4.236 1.807-5.997.934-1.758 2.336-2.64 4.205-2.64 1.445 0 2.71.39 3.797 1.164 1.086.776 1.748 1.91 1.988 3.4.183 1.91.27 4.116.27 6.622v8.233zM324.81 4.92l.15-.005v1.96l-.15.005V4.92zm-.75 11.004c.067-.01.175.217.326.42-.306.13-.513.254-.73.282-.056.007-.15-.293-.228-.453.21-.09.414-.212.633-.25m-1.43 8.06c.275 1.062.183 1.514-.443 2.167-.444-.57-.357-.996.444-2.167m-1.323 7.224l.3.202-.243.277c-.057-.092-.14-.18-.165-.28-.016-.054.067-.132.107-.2m-9.625-28.35c-.114-.045-.203-.153-.3-.237.083-.072.16-.19.252-.202.08-.01.173.103.293.184-.106.113-.21.27-.245.256m.907 41.718c-.08-.128-.252-.29-.22-.38.058-.16.24-.275.468-.514.095.273.22.456.174.54-.085.15-.276.24-.423.354m.518 11.866c-.094-.15-.24-.297-.257-.457-.008-.09.22-.303.3-.284.152.037.273.2.494.38l-.536.362m4.023-15.76c-.56-.705-.64-1.5-.657-2.358-.015-.637-.225-1.27-.37-2.025l-1.026.495c-.324-.158-.7-1.61-.584-2.117.177-.766.72-.954 2.42-.807.902-1.655 2.23-3.002 3.47-4.475.235.257.292.298.286.317-.576 1.648.165 3.38-.327 5.032-.237.796-.498 1.587-.702 2.392-.098.384-.082.726.146 1.16.26.492.336 1.283.115 1.78-.818 1.853-.768 3.83-1.022 5.76-.123.937-.028 1.902-.065 2.854-.008.226-.154.447-.236.67l-.235-.044c-.025-.244-.136-.518-.06-.727.416-1.178-.143-2.21-.445-3.28-.102-.36-.38-.798-.264-1.064.424-.966-.277-1.84-.117-2.774.04-.243-.15-.573-.325-.79m2.364 16.475l-1.855-1.096-.197-.695c.512-.393.998-.712 1.587.11.173-.752-.297-1.592.638-1.978.732.632-.137 1.21-.073 1.818.06.584.51 1.29-.1 1.842m.912-12.215a95.85 95.85 0 0 0-.137-.01l-.334-2.238h.99l-.52 2.248m1.29-2.988c-.05-.1-.105-.2-.136-.304-.006-.02.104-.07.188-.123.04.112.094.214.11.322.007.024-.104.068-.162.104m.818 19.818c-.04.012-.172-.104-.166-.117.043-.09.11-.172.2-.3.105.106.17.177.24.247-.09.06-.174.14-.274.17m.26-17.986l-.225-.11.27-.53c.07.037.202.097.2.104-.072.183-.16.358-.246.536m.672-1.622l-.204.024c-.038-.13-.108-.26-.104-.386.004-.1.1-.195.308-.57v.932zm.476-4.468c.06.938-.156 1.793-.79 2.805-.105-.355-.142-.466-.17-.578-.243-.938-.18-2.058-1.62-2.19-.295-.028-.544-.54-1.012-1.037h1.256c.942-1.27 1.77-2.626 2.06-4.27.173-.976.493-1.93.784-2.88.125-.404.348-.78.526-1.168l.27.067c.02.215.086.434.062.643a173.67 173.67 0 0 1-.574 4.424 2.733 2.733 0 0 1-.373 1.033c-.632.998-.49 2.078-.418 3.153m1.495 7.933l-.96-.792 1.224-.737c.168.51-.088 1.003-.263 1.53m.126-35.084l-.272-.125.443-.9.25.115-.42.91m1.67 15.85c.228.796.322 1.57-.24 2.29-.014-.2-.062-.404-.037-.598.077-.566.183-1.13.276-1.693m-.32 7.82c.2-.285.516-.49.785-.73l.007-.03.017.012-.016-.013a.684.684 0 0 1 .017-.04v-1.667c.365.734.368.75 0 1.667v.052a.155.155 0 0 0-.022.02c-.126.54-.25 1.08-.396 1.696-.56-.22-.67-.564-.39-.966m1.044 22.865c-.21.16-.326.313-.432.31-.117-.008-.297-.146-.32-.254-.023-.104.145-.355.186-.348.162.036.308.148.566.29m-.355-1.66c-.007-.01.042-.06.066-.09.044.05.09.1.135.147l-.068.094c-.045-.05-.096-.096-.13-.15m-.404 7.726c-.998-.3-1.098-.574-.474-1.23.278-.292.475-.663.76-.947.112-.11.368-.08.58-.115-.34.905-.606 1.6-.866 2.29m.85-32.82l-.295-1.5c.794.365.794.365.295 1.5"
        />
        <path d="M328.155 23.004l.572-.148V18.61c-.42 1.084-.404 1.16-.028 2.078-.173.763-1.108 1.353-.545 2.316M42.042 88.035h2.69l-1.345-3.67zm145.145-4.246h-2.1v2.38h2.1c.81 0 1.354-.48 1.354-1.19.002-.713-.543-1.19-1.353-1.19zm33.75 4.245h2.688l-1.344-3.67zm31.16-4.246h-1.675v5.946h1.674c1.773 0 3.013-1.22 3.013-2.966 0-1.84-1.155-2.98-3.014-2.98zm-131.25 0h-2.1v2.38h2.1c.81 0 1.354-.48 1.354-1.19 0-.713-.543-1.19-1.353-1.19zm-91.273 0h-2.1v2.38h2.1c.81 0 1.354-.48 1.354-1.19 0-.713-.544-1.19-1.354-1.19zm263.93-.152c-1.71 0-2.906 1.288-2.906 3.133s1.195 3.133 2.905 3.133c1.72 0 2.92-1.288 2.92-3.132s-1.2-3.132-2.92-3.132z"
        />
        <path d="M0 75.38v22.73h335.87V75.38H0zm19.74 14.197c-.977 1.67-2.494 2.552-4.39 2.552-3.226 0-5.567-2.254-5.567-5.36s2.34-5.358 5.567-5.358c2.43 0 3.727 1.38 4.39 2.537l.087.15-2.16 1.054-.076-.144c-.43-.82-1.33-1.372-2.24-1.372-1.745 0-3.01 1.318-3.01 3.133s1.266 3.133 3.01 3.133c.934 0 1.813-.538 2.24-1.37l.075-.145 2.165 1.037-.09.152zm11.044 2.37l-1.993-3.566h-1.315v3.568H24.98v-10.37h4.913c2.138 0 3.575 1.366 3.575 3.4 0 1.788-1.104 2.756-2.134 3.083l2.32 3.888h-2.87zm15.285 0l-.625-1.7h-4.117l-.64 1.7h-2.823l4.054-10.37h2.936l4.038 10.37H46.07zM61.2 83.79h-5.02v1.79h4.913v2.214H56.18v4.154h-2.494v-10.37H61.2v2.21zm13.235 0h-2.95v8.158h-2.51v-8.16H66.01v-2.21h8.426v2.21zm20.977 0h-5.02v1.79h4.914v2.214h-4.914v4.154h-2.494v-10.37h7.514v2.21zm14.922 3.974c0 2.774-1.73 4.365-4.746 4.365-2.972 0-4.746-1.627-4.746-4.35v-6.203h2.524v6.127c0 1.377.83 2.198 2.22 2.198 1.403 0 2.208-.802 2.208-2.198v-6.127h2.54v6.187zm11.723 4.184l-1.993-3.567h-1.317v3.568h-2.494v-10.37h4.914c2.138 0 3.574 1.366 3.574 3.4 0 1.788-1.103 2.756-2.133 3.083l2.32 3.888h-2.87zm17.652 0h-2.337l-4.586-6.21v6.21h-2.494v-10.37h2.472l4.45 5.97v-5.97h2.493v10.37zm8.427 0h-2.494v-10.37h2.494v10.37zm13.736-8.16h-2.95v8.16h-2.51v-8.16h-2.966v-2.21h8.426v2.21zm14.8 3.976c0 2.774-1.728 4.365-4.744 4.365-2.973 0-4.747-1.627-4.747-4.35v-6.203h2.524v6.127c0 1.377.83 2.198 2.222 2.198 1.4 0 2.205-.802 2.205-2.198v-6.127h2.54v6.187zm11.724 4.184l-1.993-3.567h-1.316v3.568h-2.494v-10.37h4.913c2.14 0 3.574 1.366 3.574 3.4 0 1.788-1.103 2.756-2.132 3.083l2.318 3.888h-2.87zm15.75-8.16h-5.02v1.793h4.914v2.214h-4.913v1.942h5.02v2.212h-7.513v-10.37h7.513v2.21zm20.816 8.16l-.624-1.7h-4.12l-.638 1.7h-2.824l4.055-10.37h2.936l4.038 10.37h-2.825zm17.033 0h-2.335l-4.586-6.21v6.21h-2.493v-10.37h2.473l4.45 5.97v-5.97h2.493v10.37zm10.1 0h-4.168v-10.37h4.168c3.32 0 5.553 2.086 5.553 5.192 0 3.097-2.233 5.178-5.554 5.178zm30.5 0h-2.51v-6.344l-2.58 6.344h-1.168l-2.58-6.344v6.344h-2.494v-10.37h3.307l2.353 5.788 2.352-5.79h3.322V91.95zm10.907.18c-3.164 0-5.46-2.252-5.46-5.357s2.296-5.358 5.46-5.358c3.173 0 5.476 2.254 5.476 5.36s-2.304 5.357-5.477 5.357zm16.727-.18l-1.993-3.567h-1.316v3.568h-2.492v-10.37h4.913c2.14 0 3.575 1.366 3.575 3.4 0 1.788-1.105 2.756-2.134 3.083l2.32 3.888h-2.87zm15.75-8.16h-5.02v1.793h4.915v2.214h-4.914v1.942h5.02v2.212h-7.513v-10.37h7.514v2.21z"
        />
        <path d="M309.02 83.79h-2.1v2.38h2.1c.81 0 1.355-.48 1.355-1.19 0-.713-.544-1.19-1.355-1.19z"/>
    </symbol>
    <symbol id="icon-newlogo-mobile-menu" viewBox="0 0 109.414 21.874">
        <path d="M2.08.616c.42.06.75.215.986.47.237.253.384.693.443 1.318l.058 1.35V8.42h.005l-.005.1v9.13L3.508 19c-.058.625-.2 1.06-.427 1.305-.225.245-.55.39-.972.44-.296.034-.562.062-.815.086-.015.073-.05.143-.068.22-.243-.03-.456-.142-.688-.027-.086.042-.172-.03-.197-.123-.085.002-.173.006-.25.006v.47h14.546c.022-.177.153-.29.31-.44.04.254.036.358-.072.44h4.195c-.117-.097-.092-.254-.027-.388.078-.157.195-.158.31-.023.08.092.174.17.302.293l-.027.116h3.606v.5h.413c.04-.47.157-.91.354-1.32.197-.41.423-.617.68-.617.366.196.742.383 1.114.575.062-.07.168-.074.29.018.108.082.21.17.28.276.217.11.428.224.646.333a6.13 6.13 0 0 0 2.477.527c1.63 0 3.022-.38 4.172-1.144.84-.557 1.37-1.315 1.595-2.27.145.983.65 1.77 1.523 2.357 1.047.704 2.253 1.056 3.618 1.056 2.13 0 3.518-.415 4.163-1.246.644-.83.967-1.793.967-2.888h-.417c0 .782-.176 1.49-.527 2.126-.352.635-.908.953-1.67.953a1.778 1.778 0 0 1-1.405-.644c-.37-.43-.556-1.065-.556-1.906l-.06-1.496V8.59h2.945c.115.23.268.59.46 1.086.266.684.807 2.175 1.623 4.47a2121.643 2121.643 0 0 0 2.212 6.22c.004-.003.01-.01.013-.01.04.017.067.056.124.11l-.083.056.342.97h2.092l1.166-2.947a25.263 25.263 0 0 0-.318-.064c.156-.165.292-.225.432-.222l2.524-6.382 3.42 9.617h2.123l4.362-11.406c.517-1.25 1.073-1.925 1.67-2.023l1.072-.118v-.47H62.12v.47a5.972 5.972 0 0 1 1.09.088c.236.04.423.098.56.176.14.08.208.264.208.557 0 .333-.13.88-.384 1.642l-1.958 5.078c.012-.007.017-.016.033-.02.033-.014.117.02.132.05.063.148.055.28-.13.347-.036-.04-.077-.065-.084-.097-.007-.033-.015-.067-.02-.1l-.01.02c-.23-.617-.526-1.442-.885-2.455-.02.028-.05.06-.096.108-.032-.084-.072-.14-.06-.168.016-.03.07-.048.115-.055l-.076-.216a87.665 87.665 0 0 1-.9-2.653c-.187-.596-.29-.962-.31-1.1a2.817 2.817 0 0 1-.028-.41c0-.41.137-.645.412-.704.275-.06.49-.088.65-.088h.44v-.468h-8.152c.048.11.096.176.093.237 0 .038-.09.07-.14.105-.032-.055-.09-.11-.09-.162 0-.047.06-.096.125-.182H51.8v.47l.648.058c.294.06.51.22.648.484s.285.59.442.982l.62 1.7-1.858 4.575a131.692 131.692 0 0 1-1.18-3.313 219.284 219.284 0 0 1-.796-2.36c-.157-.48-.246-.786-.265-.924a2.818 2.818 0 0 1-.03-.41c0-.41.132-.645.397-.704.265-.06.437-.088.516-.088h.207v-.47H40.894V5.614l-.165.024-.028-.065c.047-.032.09-.08.14-.09.017-.003.034.006.052.015V1.642h-.83c-.237.49-.578 1.036-1.022 1.642a14.46 14.46 0 0 1-1.66 1.862 14.518 14.518 0 0 1-2.087 1.67c-.06.042-.12.074-.18.112l.036.053-.14.43.257.07-.243.46c-.12.036-.273.042-.37.116-.314.237-.632.237-.974.09-.047-.022-.104-.02-.21-.038-.04.25-.088.485-.115.722-.02.157.065.32-.092.46-.147.132-.28.283-.492.346.17.227.323.452.46.677.077 0 .16.048.252.152a7.815 7.815 0 0 1-.138.047c.136.24.257.48.356.717.236.566.432 1.084.59 1.553h.383V8.59h.53v7.333a3.64 3.64 0 0 0-.47-.984 5.862 5.862 0 0 0-1.623-1.6 28.313 28.313 0 0 0-2.196-1.304c-.816-.44-1.46-.802-1.93-1.085s-.832-.55-1.077-.806a1.302 1.302 0 0 1-.34-.713c-.05.017-.085.035-.112.028a.133.133 0 0 1-.076-.073c-.007-.017.03-.05.05-.075l.132.102a2.08 2.08 0 0 1-.024-.324c0-.39.172-.718.516-.982s.79-.396 1.342-.396c.767 0 1.396.157 1.887.47.352.224.692.52 1.02.88a.394.394 0 0 1 .037-.095c.14.074.197.16.15.313.057.068.114.133.17.205l.115-.58c.075.007.206.063.257.02.126-.1.156-.242.146-.403-.64-.3-1.273-.61-1.895-.928a5.56 5.56 0 0 0-2.123-.41c-1.592 0-2.938.395-4.04 1.187-1.1.79-1.65 1.91-1.65 3.356 0 .635.133 1.196.393 1.688.193-.137.367-.265.548-.358.18-.094.414.153.378.396-.02.13-.083.255-.137.414a1.46 1.46 0 0 1-.603-.143c.27.413.62.79 1.058 1.126.52.4 1.17.81 1.946 1.23.622.337 1.182.648 1.684.934.05-.103.103-.213.188-.26.217-.12.23-.313.263-.515.114.102.227.187.317.29.064.076.135.177.133.265 0 .058-.12.153-.195.164a.764.764 0 0 0-.45.202l.11.063c.59.342 1.022.66 1.298.953.275.293.413.743.413 1.35 0 .47-.176.835-.53 1.1-.353.263-.776.395-1.267.395-.865 0-1.597-.186-2.196-.557-.6-.37-1.155-.928-1.666-1.67-.51-.744-1.02-1.907-1.532-3.49h-.354v-3.254h-.304c.276.23.268.25.033.512a.492.492 0 0 1-.084-.512h-.12c-.106.305-.225.608-.35.91l.04.07c-.03.012-.058.03-.085.035-.63 1.49-1.488 2.946-2.578 4.37.148.136.324.26.248.487l-.127.033-.164-.462c-.037.047-.07.096-.108.143-.654.836-1.258 1.484-1.816 1.96.068.068.105.185.198.478-.138-.017-.16-.022-.31-.377-.605.495-1.15.777-1.64.84a23.054 23.054 0 0 1-3.032.21c0 .034-.002.065 0 .098a.415.415 0 0 1-.28-.093c-.666.01-1.323.02-1.965.036v-.394l-.028.002-.03-.2.06-.007v-9.486l1.237.06c1.14.116 2 .664 2.58 1.64.58.98.87 2.122.87 3.432h.446l-.01-.013.123-.1V5.162h-.562c0 .717-.093 1.378-.27 1.99.01.005.025.01.03.018.076.137-.003.22-.123.316l-.01-.017a5.51 5.51 0 0 1-.497 1.052c-.464.758-1.112 1.246-1.935 1.473.02.072.04.164.06.284-.287.1-.496.318-.817.29-.303-.03-.54-.116-.56-.26-.007-.057.018-.11.057-.16l-.623.03.06-9.62h.264c.216 0 .66.01 1.327.03.67.02 1.49.08 2.463.176.973.098 2.176.894 3.61 2.39.98 1.02 1.857 2.207 2.635 3.552a.257.257 0 0 1 .206.038c.104.065.1.24-.002.314.287.518.56 1.058.818 1.622h.472V0h-7.456l-.033.288-.077-.008V0h-12.3c0 .007.003.014 0 .02a.82.82 0 0 1-.348.35c-.115.055-.313-.174-.304-.313.002-.02.01-.037.017-.057H0v.47c.275.02.584.033.93.043.342.01.726.044 1.15.103m40.666 20.072l.067.005-.018.234-.078.005.03-.244m-.754-.28c.11.07.238.124.322.217.098.11.045.234-.063.32-.085.067-.18.122-.354.24-.038-.206-.095-.348-.08-.483.012-.103.114-.196.175-.293m18.435-.46c-.02-.025-.05-.048-.062-.08-.006-.015.02-.042.03-.064l.103.05-.072.095m-.043-3.492c.065.014.135.008.164.04.058.06.094.14.14.213-.055.034-.13.105-.16.09a.46.46 0 0 1-.18-.174c-.02-.033.018-.1.035-.168m-1.495 2.798c-.008.005-.058-.03-.056-.034.01-.03.03-.058.048-.087l.072.05c-.02.024-.038.055-.064.07m.8.104l.06.276-.07.017-.074-.273.084-.02m-.31.168c.008.053.03.11.02.158-.008.04-.053.075-.082.113l-.054-.025.05-.245.065-.002m-.127-7.436l.027.072-.238.093-.03-.08.24-.085zm-.345 3.134c.03.04.07.074.088.12.006.016-.04.053-.08.102-.045-.052-.097-.087-.1-.127-.003-.028.06-.063.092-.094m-.29.59l-.035.082-.366-.123c.213-.168.213-.168.4.04M58.23 8.8c.043.02.08.058.108.097.006.008-.037.05-.076.102l-.12-.153c.03-.017.07-.054.088-.046m-1.524-1.134l-.352.097c-.02-.05-.043-.08-.036-.094.08-.166.185-.198.388-.002m-.133 3.643l-.3.332c-.057-.31.07-.31.3-.333m-2.307-2.622c.018 0 .036.025.054.04l-.036.054-.07-.055c.015-.015.033-.04.052-.04m-3.007 4.57c.03.01.055.036.1.068l-.106.07c-.017-.03-.04-.06-.046-.093-.004-.012.04-.05.05-.046m-.168 4.154c-.016.032-.077.043-.12.063-.014-.032-.048-.072-.04-.097.015-.04.057-.07.12-.142.023.092.055.146.04.178m-.453-5.95l-.023.15-.045-.158.067.007m.157 1.065c.255.174.255.174-.172.768l-.23-.08c.143-.244.273-.465.402-.688m-3.81 1.698c-.04-.007-.07-.065-.13-.13.076-.03.13-.074.16-.06.04.014.08.075.08.117 0 .026-.076.08-.11.073m1.243-1.45h-.036v-.333h.037v.333zm.524 6.623c-.014.003-.062-.06-.057-.08.01-.03.05-.062.083-.067.027-.004.06.03.126.066-.07.04-.108.07-.15.08M49.934 8.34h.023v.302h-.023v-.302zm-.05 3.592l-.066.02c-.016-.052-.03-.103-.042-.155 0-.002.043-.014.067-.02l.04.155m-.142-1.214c.027.088.053.132.05.173-.003.024-.068.07-.076.064-.037-.026-.086-.065-.088-.1-.003-.032.052-.067.113-.138m-.13 5.768l.02-.002v.38l-.02.004v-.382zm.126 1.335l.002-.02.005.005-.005-.004.004-.006c-.01-.185-.117-.373 0-.586.22.223.086.404 0 .586v.01l-.007.015c-.12.507-.056 1.054-.327 1.53.06-.42.115-.84.187-1.26.017-.094.088-.18.14-.27m-2.508-6.983c.02-.07.105-.124.192-.218.118.106.263.177.267.256.01.152-.147.17-.273.17-.128-.004-.22-.075-.185-.21m-.118.925c.16-.166.35-.302.508-.467.485-.502 1.072-.64 1.734-.388.036.014.063.048.096.073l-.02.09c-.086.005-.174.02-.26.015-.207-.01-.413-.033-.586.12-.03.027-.076.056-.11.05-.318-.05-.508.15-.696.35-.23.244-.56.377-.724.698-.034.067-.202.065-.387.117.09-.33.282-.486.444-.656m-.492 1.806l.09.19c-.033.01-.066.03-.1.03-.014 0-.04-.04-.04-.06.003-.036.022-.072.05-.16m-.268-2.124l.076.006-.03.436-.103-.01.057-.432m-.007.855c-.05.344-.05.344-.384.377.103-.333.103-.333.384-.377M44.592 8.04c.144.133.208.264.03.367-.06.035-.25-.018-.267-.07-.07-.2.125-.212.237-.298m-4.254 5.856c.022.03.062.058.062.087 0 .026-.04.054-.1.12-.026-.05-.065-.092-.057-.116.015-.037.062-.062.095-.09m-.146 6.406l.064.014-.035.16-.064-.014c.013-.053.025-.107.036-.16m-3.94-1.12l.375-.043c-.177.16-.177.16-.374.042M39.5 3.187c.02-.004.07.043.067.063-.004.03-.04.055-.076.095-.028-.037-.07-.068-.065-.088a.118.118 0 0 1 .076-.07m-.62 5.192l-.357.258c-.086-.273-.086-.273.356-.26m-.23 1.474c.28.03.43.124.415.363-.072.05-.174.158-.297.195-.12.036-.356-.25-.344-.394.012-.13.09-.178.225-.164m-.335 7.554c.036.043.078.072.077.1 0 .026-.047.07-.073.07-.026 0-.067-.044-.072-.073-.003-.024.037-.055.067-.097m-.14 1.3h-.157l-.02-.268.18-.005-.004.274m-.178-10.67c.032.11.053.147.05.184 0 .034-.027.066-.042.1-.03-.022-.075-.036-.083-.063-.008-.028.02-.066.076-.22m-.584 3.558c.076.246.146.46.21.68a.445.445 0 0 1 .006.162c-.016.164-.146.282-.3.273a.246.246 0 0 1-.24-.28c.054-.282-.01-.617.324-.835m-.387 3.76c-.113-.008-.233-.01-.35-.024-.124-.013-.263-.027-.263-.194 0-.147.07-.264.225-.302.09-.022.185-.023.29-.035.09.175.23.32.098.554m-.878-.777c.306-.223.216-.552.23-.914.44.232.133.67.39.934-.37.118-.688.428-1.037.04.143-.312.152-.313.417-.06m-.395-7.43l-.256-.212c.22-.09.256 0 .256.21m-1.673 4.25l.112-.442.092.022c.074.312.074.312-.205.42m.86 4.692l-.105.063a55.47 55.47 0 0 0-.22-.37c.234.072.355.127.324.307m-.573-1.318c-.147.277-.147.277-.43.104.1-.165.243-.114.43-.105m-10.32-1.934c-.32-.33-.32-.344-.022-.786l.455.334a97.82 97.82 0 0 1-.432.452m2.978-3.187c.156-.096.282-.043.415.113l-.53.342c-.054-.192-.056-.35.116-.456M25.5 8.796a9.907 9.907 0 0 0-.01-.176l.06-.006.036.187-.087-.003m1.343 2.69c-.026.002-.103-.11-.09-.135a.273.273 0 0 1 .155-.128c.026-.008.08.08.145.15-.088.05-.146.104-.21.112m.495 3.193l.126-.745c.052.23.266.5-.126.744m.156-1.483l.257-.603c.023.557.013.583-.256.603m.665 3.042c-.136-.018-.19-.086-.143-.213.01-.025.072-.056.093-.046.127.06.11.155.05.26m.47-2.626c-.027 0-.054-.044-.08-.07.028-.023.055-.063.087-.067.027-.003.06.035.105.066-.05.034-.08.072-.11.07m.445-1.89c-.06-.01-.107-.09-.16-.14.064-.053.124-.13.197-.15.037-.008.1.095.18.177-.094.054-.162.122-.217.113m.34 4.005l-.065-.006.044-.68.106.01-.086.676m2.54-2.823l.06-.003.025.162-.092.008.008-.167m-1.495.387l-.07-.072.064-.033c.02.017.048.032.052.05.003.016-.03.037-.045.055m.26-.03l.078-.474c.223.012.27.15.34.33l-.418.143m-5.95 6.333l.05.03c-.02.037-.028.08-.056.107-.026.024-.07.03-.106.044l-.033-.056.145-.125m-2.584-.11c.026-.01.074.042.147.09-.076.047-.113.083-.155.09-.02.004-.078-.053-.073-.07.012-.043.043-.098.08-.11m-2.967.873c.042.022.074.062.125.11-.054.035-.102.078-.113.07a.254.254 0 0 1-.086-.11c-.005-.014.063-.075.074-.07m-.9.084c-.06.223-.148.24-.3.085l.3-.085m-2.756-6.968c.03.014.056.042.1.08-.048.025-.09.06-.103.052-.027-.017-.043-.057-.05-.09-.004-.01.042-.046.052-.042m-.387-3.352l-.107 1.13-.062-.002.05-1.13.12.002zm-.214-1.267c.157.166.18.26.05.334-.03.017-.092-.024-.14-.038l.09-.297m-1.747 1.36c.024-.043.164-.08.208-.05.183.113.08.242-.004.392-.13-.098-.308-.144-.203-.34m8.78-9.184c.213.403.21.443-.065.747l-.32-.233.385-.513m-.725.023c.004-.006.07.02.106.033l-.088.233a14.92 14.92 0 0 0-.118-.046c.032-.074.06-.15.1-.22m-17.342 19.6a.366.366 0 0 1-.18-.118c-.01-.012.067-.138.087-.133.08.016.154.063.278.123-.092.068-.146.136-.184.13m1.575-3.82l-.09-.218.126-.055c.032.068.07.135.09.206.002.01-.08.043-.125.067M5.58 7.6c-.18-.06-.207-.183-.07-.376.158.062.314.1.263.294-.01.044-.14.1-.192.08m.217 9.636c-.04-.034-.097-.062-.114-.105-.017-.042.01-.1.016-.15l.086-.013.063.233-.053.034m1.832.11l-.31-.19c.247-.125.33-.055.374.09a5.655 5.655 0 0 0-.065.1m-.15-1.04v.007l-.005-.003.006.004v.007l.084.26c-.24-.072-.124-.172-.085-.26a.126.126 0 0 1-.004-.01l.004-.003-.06-.36c.17-.114.314-.16.42.127l-.36.234m.06-3.395c.025-.03.048-.08.076-.084.043-.005.09.022.184.05-.077.063-.113.116-.15.116s-.074-.053-.11-.083M9.713 7.49c-.12-.497-.12-.497.048-.638.038.22.11.423-.047.638m-.14-2.783c-.176-.057-.168-.223-.14-.375.013-.077.036-.152.05-.213l.39.365c-.065.11-.104.285-.3.222m.457 4.44c.21-.13.32-.07.4.157-.185.04-.31.025-.4-.157m.437 5.6c-.145-.214.007-.334.058-.485l.088.028-.146.456m.29-5.138l-.144.153-.077-.067.137-.16.084.074M9.884.636a.68.68 0 0 1 .348-.044c.37.035.52.315.36.647-.047.098-.097.197-.172.35-.05-.136-.074-.237-.122-.326-.048-.087-.135-.236-.178-.228a.816.816 0 0 0-.33.187c-.043.035-.04.126-.057.193a.773.773 0 0 0-.014.402l.153-.268c.053.013.097.013.102.027.104.282.142.732.074.933-.016.044-.057.097-.098.113-.204.077-.234.24-.234.423l.004.004v.004l.627-.272c.227.144.05.29-.006.443-.056.15-.09.31-.135.467-.338 0-.34 0-.407-.286-.028-.117-.053-.235-.08-.352l-.006.003v-.01c-.058-.064-.142-.12-.166-.193-.034-.11-.026-.236-.038-.377h-.375c.083-.483.178-.942-.058-1.393.287-.163.54-.32.804-.448M8.982 19.45c0 .006-.047.005-.072.006v-.213l.09.002c-.005.07-.008.138-.018.206M8.395 6.93c.052-.135.174-.175.31-.13.148.05.285.11.246.316-.025.138-.028.28-.044.456-.344-.033-.617-.37-.51-.643m.133 13.074c-.083.058-.156.135-.18.122-.058-.032-.094-.105-.14-.162.053-.03.106-.088.155-.085.05 0 .093.066.164.124M8.2 8.8l-.184-.16.05-.066.205.146-.07.08zM7.55.635l.693.343c-.185.14-.35.202-.54.112-.166-.08-.24-.215-.153-.456m-.156 14.322c.134.112.124.206.024.29-.02.02-.093.013-.11-.008-.09-.11-.04-.197.086-.282m-.16 5.662c.008-.002.026.033.046.058l-.088.064-.055-.078c.033-.015.063-.036.097-.044m-.578-3.9l.042.08c-.022.007-.048.024-.064.018-.016-.007-.02-.037-.03-.058l.052-.04M5.694 2.954c.19.046.39.06.583.087l.19.353-1.103-.17c.083-.225.15-.314.33-.27m-.377 7.655c.044 0 .087.032.152.06-.047.048-.08.1-.093.094-.05-.02-.095-.055-.142-.085.028-.025.056-.07.082-.07M4.613.856l.09.416-.06.016-.112-.41.083-.02M3.87 2.738c.06-.013.172.004.18.03.062.21.103.423.165.7-.35-.14-.346-.412-.435-.618-.01-.023.053-.105.09-.113m-.138 14.058l.09.045-.115.316c-.175-.197-.08-.28.025-.362"
        />
        <path d="M33.996 7.813c-.008-.04-.06-.07-.123-.136-.032.08-.073.133-.06.163.016.038.076.058.118.086.025-.038.072-.08.066-.113m.34-.287c-.018-.07-.018-.15-.055-.207-.013-.022-.03-.043-.045-.064-.008.06-.02.118-.032.175-.053.025-.104.044-.157.066l.008.015c.027.046.184.013.28.016m36.443 13.718c-.083.12-.14.25-.19.375.14.012.282.02.424.027-.12-.067-.215-.17-.233-.403"
        />
        <path d="M108.47 20.847c-.395-.043-.695-.128-.9-.253v.002l-.004-.004.005.004-.007.02-.05.417-.11-.026.16-.392.003-.023a.8.8 0 0 1-.17-.14c-.19-.205-.28-.572-.28-1.1l-.03-1.202v-2.5l-.015.082c-.075-.225-.08-.27.016-.396V8.528a7.56 7.56 0 0 0-.122.254l-.158-.77-.15.35c-.053-.095-.1-.144-.107-.198-.038-.268-.096-.54-.08-.806.007-.155.138-.304.24-.51a75.795 75.795 0 0 0-.423-.102c.057-.314.03-.658.46-.77.106-.026.192-.14.314-.23.01.006.018.017.026.026v-.527l-.056.11-.084-.04.107-.227.032.015V0h-8.67v.47l.61.038-.113-.093.08-.095c.11.028.248.034.22.2l.577.036c.642.078 1.06.225 1.254.44.194.215.292.645.292 1.29l.06 1.35v3.752l.028 1.525c-.217-.41-.55-.802-1.002-1.173-.453-.37-1.367-.557-2.742-.557-1.728 0-3.155.556-4.29 1.653l-.02.344h-.1l-.012-.212c-.06.06-.12.116-.18.18a6.36 6.36 0 0 0-.916 1.34 7.198 7.198 0 0 0-1.132-1.253c-1.562-1.368-3.436-2.052-5.617-2.052-1.173 0-2.248.197-3.232.582-.02.054-.085.103-.11.137l-.12-.04A7.917 7.917 0 0 0 79.77 9.25a7.18 7.18 0 0 0-1.283 1.504 7.088 7.088 0 0 0-1.312-1.52c-1.562-1.368-3.435-2.052-5.617-2.052-2.22 0-4.104.688-5.646 2.067-.76.678-1.332 1.443-1.718 2.29.002.005.008.01.01.014.006.013-.018.04-.045.066-.373.85-.562 1.785-.562 2.804 0 .65.085 1.264.235 1.847.24.01.486-.03.75-.004l-.558.246-.142-.042c.347 1.19 1.01 2.235 2 3.13 1.192 1.08 2.616 1.73 4.262 1.965.052-.198.122-.384.244-.554.044-.06.124-.126.194-.134a.11.11 0 0 0 .018-.002c-.21-.168-.39-.4-.53-.702-.325-.684-.488-1.554-.488-2.61 0-.137-.02-.63-.058-1.48a45.51 45.51 0 0 1-.06-1.687c.02-.625.044-1.207.073-1.744s.044-.99.044-1.363c0-.284.017-.554.044-.816a2.627 2.627 0 0 1-.117-.135c.046.006.09.01.135.012.074-.604.216-1.15.44-1.626.333-.712.814-1.07 1.443-1.07.688 0 1.194.343 1.52 1.027.323.685.485 1.554.485 2.61 0 .156.02.645.06 1.466.04.82.06 1.368.06 1.64-.04.646-.07 1.238-.09 1.775-.02.538-.03 1.002-.03 1.393 0 1.018-.166 1.877-.5 2.582-.248.52-.582.848-1.002.983a.342.342 0 0 1-.12.113 17.067 17.067 0 0 1-.04-.074 1.718 1.718 0 0 1-.244.03 1.72 1.72 0 0 1-.043.165 1.48 1.48 0 0 0-.046.306h.02c2.144 0 4.007-.69 5.59-2.067a7.24 7.24 0 0 0 1.32-1.516 7.166 7.166 0 0 0 1.24 1.483l.125.008-.062.05c1.518 1.36 3.398 2.04 5.644 2.04 1.818 0 3.432-.5 4.847-1.492-.037-.087-.06-.13-.06-.17 0-.048.032-.098.05-.146l.12.09-.056.19c.234-.168.463-.344.686-.537.45-.393.83-.818 1.152-1.267.254.5.558.96.926 1.37a5.91 5.91 0 0 0 1.305 1.087c.083-.05.117-.078.15-.082.03-.003.065.027.1.043a1.79 1.79 0 0 1-.012.073l-.198-.01a5.753 5.753 0 0 0 1.79.702c.123-.21.23-.4.366-.548.072-.08.27-.045.41-.062.07.347.06.376-.196.516-.09.05-.175.103-.263.152.367.06.747.095 1.147.095 1.336 0 2.245-.195 2.727-.587.48-.39.83-.78 1.047-1.172v1.466h7.962v-.47l-.94-.057zM106.55 5.41c.045.112.075.153.064.17-.014.024-.058.035-.09.04-.01 0-.036-.04-.034-.06.005-.036.026-.068.06-.15m-41.532 5.393h.025v.225h-.025v-.225zm-.38 4.597c-.067.03-.194.023-.245-.02-.094-.084-.08-.213.03-.28.142-.09.302-.153.537-.267-.038.325-.135.485-.32.567m.402 3.163c-.028-.003-.053-.046-.08-.07.027-.025.052-.067.08-.07s.057.04.1.07c-.043.033-.075.073-.1.07m3.74-7.17c.003-.005.04.017.095.042l-.15.052c.017-.032.033-.067.055-.095m-1.643-.93l.068.065c-.028.036-.055.073-.088.104-.007.007-.04-.017-.062-.027l.08-.142m-1.393 6.717c-.044-.01-.108-.112-.095-.14.035-.074.107-.13.19-.222.058.09.117.14.117.19 0 .13-.084.203-.212.172m.207-4.9c-.015-.035-.033-.07-.04-.106-.002-.007.033-.023.062-.042.013.04.03.075.033.112 0 .01-.035.024-.055.037m.753 3.354c-.153-.306-.153-.306.082-.545l-.082.546m.404 4.545l-.094-.003.042-.24a.875.875 0 0 1 .05.004v.24zm-.055-5.843c-.006-.037.068-.12.11-.122.046 0 .095.065.173.126-.07.056-.123.126-.158.12-.052-.012-.118-.076-.125-.124m.445 3.557c-.04.02-.085.06-.122.056-.038-.006-.07-.057-.104-.088.045-.036.086-.09.137-.103.046-.012.103.022.154.036a5.454 5.454 0 0 0-.064.1m.987-7.48l-.27.473c-.082-.512-.046-.57.27-.474M68.4 14.18v-.962h.04l.07.965a76.05 76.05 0 0 0-.11-.003m.428 5.75l-.115-.095c.03-.03.065-.09.095-.086.038.003.072.054.108.084-.024.026-.05.053-.088.098m.668.803c-.008.03-.033.054-.063.097l-.065-.108c.03-.015.057-.037.086-.04.012-.003.046.037.042.05m4.442-4.767l.086.067c-.03.023-.054.053-.064.05-.022-.01-.047-.034-.052-.056-.006-.016.018-.04.03-.06m.082 3.982c-.3-.232-.304-.243-.08-.46.038.134.077.262.11.39.005.02-.02.047-.03.07m.788-3.344c-.026-.015-.023-.08-.034-.12.047-.004.096-.02.137-.006.023.007.03.062.057.122-.07.004-.125.024-.16.004m1.045-5.436l.05.01-.04.193-.063-.016c.015-.063.033-.125.052-.187m-.027 2.497l.546-.055-.327.49-.218-.435m.602.467c.097-.09.206-.143.317-.017.114.13.085.218-.156.44-.256-.22-.287-.304-.16-.423m.463 5.34c-.118-.08-.132-.173.022-.342.037.144.06.23.078.318 0 .003-.08.038-.1.024m.39-2.59c.067-.11.085-.166.123-.195.048-.04.113-.056.192-.09.085.28-.06.29-.314.283m.66-.415c-.03-.042-.07-.072-.065-.097.004-.03.045-.053.07-.08.023.024.068.05.067.072 0 .03-.037.06-.07.106m1.143-5.874c-.043-.042-.112-.08-.12-.13-.007-.042.054-.097.107-.183.06.084.124.133.122.18-.002.046-.07.09-.11.134m.62 3.56c.005-.083-.006-.137.01-.147.074-.045.156-.077.235-.113l.048.102-.293.158m4.285 6.434c-.026-.02-.054-.042-.078-.063l.048-.076c.022.023.053.045.063.073.006.015-.02.043-.033.065m3.43-4.418c-.02.538-.03 1.002-.03 1.393 0 1.017-.167 1.876-.5 2.58-.336.704-.827 1.056-1.476 1.056-.668 0-1.164-.343-1.488-1.027a4.814 4.814 0 0 1-.375-1.237.396.396 0 0 1-.29.156l.16-.49-.223-.266c.102-.12.146-.28.26-.34-.007-.143-.02-.282-.02-.434 0-.137-.02-.63-.058-1.48a47.096 47.096 0 0 1-.06-1.687c.02-.625.044-1.207.073-1.744s.044-.99.044-1.363c0-.997.167-1.852.502-2.565.333-.713.814-1.07 1.443-1.07.688 0 1.194.342 1.52 1.026.323.685.485 1.554.485 2.61 0 .156.02.645.06 1.466.04.82.06 1.368.06 1.64a72.307 72.307 0 0 0-.09 1.776m.846 1.49a.15.15 0 0 1 .086-.11c.032-.01.083.03.167.067-.076.066-.114.114-.164.135-.017.006-.09-.06-.09-.092m.206 2.587c-.03-.04-.094-.094-.084-.116.027-.063.085-.114.15-.194.054.065.117.13.11.136-.05.064-.116.118-.177.175m.45-4.077c-.06.113-.163.153-.274.09-.13-.076-.09-.187-.01-.272.06-.064.14-.105.204-.15.168.102.14.218.08.332m.874 1.374l-.357-.44.328-.383.33.27-.3.554m1.33-6.11c-.05.023-.124-.006-.26-.02.06-.12.073-.202.118-.227a.653.653 0 0 1 .286-.077c.033 0 .107.136.098.146a.832.832 0 0 1-.242.18m.54 1.206l-.04-.007v-.167l.08.015-.04.16m1.43 3.87c-.025.02-.15-.027-.198-.075-.092-.093-.16-.208-.26-.344.332-.165.542-.085.568.188.007.076-.052.176-.11.23m1.645 3.26c-.016.006-.073-.036-.073-.056 0-.03.026-.074.054-.09.018-.008.06.026.102.048-.035.045-.05.086-.08.097m.08-4.196c-.012-.007-.005-.046-.007-.07.035 0 .07-.002.104.008.008.003.003.046.006.088-.038-.008-.075-.01-.105-.026m.56.167c.34.084.34.426.5.65-.34-.09-.32-.438-.5-.65m1.87-8.072l.09.006-.038.195-.052-.006v-.196zm4.145 6.7c0 .567-.01 1.422-.03 2.565-.02 1.144-.05 1.94-.088 2.39-.177 1.036-.806 1.554-1.887 1.554-.63 0-1.097-.293-1.4-.88-.305-.586-.5-1.338-.59-2.257s-.133-1.564-.133-1.936v-1.32c0-.507.01-1.06.03-1.656s.072-1.26.162-1.994a5.594 5.594 0 0 1 .588-1.965c.305-.577.762-.866 1.37-.866.473 0 .885.127 1.24.38s.57.626.647 1.115c.06.624.09 1.348.09 2.168v2.7zm4.413-12.756h.05v.642h-.05v-.642zm-.245 3.606c.02-.004.057.07.105.137-.1.042-.167.083-.238.093-.018.002-.05-.096-.074-.148.07-.03.136-.07.207-.082m-.465 2.64c.09.35.06.497-.146.71-.145-.186-.116-.325.146-.71m-.433 2.368l.098.066-.08.09c-.018-.03-.044-.058-.053-.09-.005-.018.022-.043.035-.066m-3.14-9.29c-.036-.015-.064-.05-.097-.077.027-.025.053-.063.082-.067.026-.003.057.034.096.06-.034.037-.068.088-.08.084m.296 13.67c-.025-.042-.082-.095-.07-.125.02-.052.077-.09.15-.168.032.09.073.15.058.177-.027.05-.09.08-.138.117m.17 3.888c-.03-.05-.08-.097-.084-.15-.003-.03.07-.1.097-.093.05.012.09.065.16.124l-.174.12m1.314-5.165c-.183-.23-.21-.49-.215-.77-.006-.21-.074-.417-.122-.665l-.334.163c-.106-.052-.23-.527-.19-.693.058-.25.234-.313.79-.265.293-.542.727-.984 1.13-1.466.077.084.096.098.094.104-.188.54.054 1.107-.106 1.65-.077.26-.162.52-.23.783a.49.49 0 0 0 .048.38c.084.162.11.42.037.584-.267.607-.25 1.255-.333 1.887-.04.31-.01.625-.02.937-.004.074-.052.147-.078.22l-.077-.015c-.01-.08-.045-.17-.02-.238.135-.386-.047-.723-.146-1.075-.033-.118-.125-.262-.086-.35.138-.316-.09-.603-.04-.91.014-.08-.047-.188-.104-.26m.77 5.4l-.605-.36a21.775 21.775 0 0 1-.064-.228c.166-.128.325-.233.517.036.057-.246-.097-.52.21-.648.237.207-.046.397-.025.596.02.19.165.422-.034.603m.298-4.003l-.045-.003-.108-.733h.32l-.168.737m.42-.98c-.016-.032-.034-.064-.044-.1-.002-.005.034-.02.06-.04.015.037.032.07.038.106.002.008-.035.023-.054.035m.267 6.494c-.015.004-.057-.034-.055-.038.014-.03.036-.057.065-.1l.077.082c-.03.02-.055.046-.088.056m.084-5.894l-.073-.036.09-.174c.02.012.065.032.064.034-.024.06-.052.118-.08.176m.218-.532l-.066.008c-.012-.042-.035-.085-.033-.126 0-.032.032-.064.1-.187v.306zm.156-1.463c.02.307-.05.587-.258.92l-.055-.19c-.08-.308-.06-.675-.528-.72-.097-.008-.178-.175-.33-.338h.41c.307-.417.576-.86.672-1.4.055-.32.16-.63.254-.942.04-.132.113-.255.172-.383l.088.022c.007.07.027.143.02.21-.058.484-.116.968-.187 1.45a.915.915 0 0 1-.122.338c-.207.326-.16.68-.137 1.033m.487 2.6a55.485 55.485 0 0 1-.312-.26l.398-.24c.056.165-.028.326-.085.5m.042-11.497l-.09-.04.146-.296.08.038-.136.298m.544 5.193c.076.26.106.514-.077.75-.005-.066-.02-.133-.012-.197.025-.185.06-.37.09-.554m-.104 2.56c.065-.092.168-.16.256-.238l.003-.01.005.004-.006-.004.006-.013v-.547c.12.24.12.246 0 .546v.016l-.008.006-.13.556c-.18-.072-.217-.185-.126-.317m.34 7.494c-.068.052-.105.103-.14.1-.04 0-.097-.046-.105-.082-.006-.034.05-.116.063-.113.052.01.1.047.184.094m-.116-.544c-.002-.004.015-.02.022-.03l.044.048-.022.03c-.016-.015-.03-.03-.043-.048m-.13 2.532c-.326-.1-.358-.188-.154-.403.09-.097.154-.218.247-.312.037-.036.12-.025.19-.037l-.283.752m.276-10.754l-.096-.492c.26.12.26.12.096.492"
        />
        <path d="M106.898 7.538l.187-.048V6.098c-.137.355-.132.38-.01.68-.055.25-.36.445-.177.76"/>
    </symbol>
    <symbol id="icon-phone" viewBox="0 0 24.251 24.251">
        <path d="M17.18 13.46l-2.563 2.51-6.335-6.334 2.508-2.563L4.998 0 1.19 3.808C.285 4.81 0 5.9 0 6.928c0 7.837 9.446 17.323 17.322 17.323 1.028 0 2.12-.283 3.12-1.19l3.81-3.808-7.073-5.79zm2.038 8.375c-.496.448-1.12.684-1.896.684-6.848 0-15.59-8.743-15.59-15.59 0-.777.235-1.4.742-1.96L4.87 2.576 8.465 6.97l-2.62 2.68 8.756 8.756 2.678-2.62 4.393 3.595-2.455 2.455zM14.204 11.26l4.85-4.85v3.983h1.732V3.465h-6.928v1.73h3.982l-4.85 4.852 1.214 1.213z"
        />
    </symbol>

    <symbol id="icon-m-top-phone" viewBox="0 0 15 21">
        <path class="st0" d="M5.7,14V7h2.5l0.6-7H5c-1,0.1-1.6,0.5-2.1,1C-1,5.4-1,15.6,2.9,20c0.5,0.6,1.2,1,2.1,1h3.8l-0.6-7H5.7z
            		 M5.1,19.7c-0.5,0-0.9-0.3-1.3-0.7c-3.4-3.8-3.4-13.2,0-17c0.4-0.4,0.8-0.6,1.3-0.6l2.3-0.1L7.1,5.6L4.5,5.8v9.6h2.7l0.4,4.3H5.1z"
        />
        <polygon class="st0" points="12.2,7.5 11.5,8.2 13.1,10 8.1,10 8.1,11 13.1,11 11.5,12.8 12.2,13.5 15,10.5 	"/>
    </symbol>
    <symbol id="icon-pricetag" viewBox="0 0 25.803 24.445">
        <path d="M21.633 22.605a.914.914 0 0 1-.484.14.93.93 0 0 1-.928-.93.93.93 0 0 1 .33-.714c4.158-3.532 3.03-8.022 2.688-9.075a.15.15 0 0 0-.188-.096.172.172 0 0 0-.06.036L10.956 24.002A1.516 1.516 0 0 1 8.813 24l-.01-.013-8.372-8.58a1.514 1.514 0 0 1 .026-2.14L12.306 1.68A5.89 5.89 0 0 1 16.425 0h5.73a2.5 2.5 0 0 1 2.497 2.496l-.52 4.943s-1.865-1.29-3.584-2.012a2.268 2.268 0 0 0-2.79-1.59A2.27 2.27 0 1 0 20.33 7.16h.002c.82.07 1.56.395 2.184.802 1.33.865 2.27 2.212 2.732 3.73 2 6.61-1.91 9.855-3.613 10.913z"
        />
    </symbol>
    <symbol id="icon-production" viewBox="0 0 31.175 26.811">
        <path d="M7.825 12.363c0-4.206 3.476-7.615 7.763-7.615s7.762 3.41 7.762 7.615h3.08l-.294-.532-.7-.36a9.58 9.58 0 0 0-.372-1.895l2.608-1.008-3.215-1.938-.86.04a9.865 9.865 0 0 0-1.25-1.39l1.808-2.246-3.755-.072-.816.523a9.966 9.966 0 0 0-1.698-.56L18.342 0l-3.286 1.815-.463.894a10.12 10.12 0 0 0-1.736.325L11.792.28l-1.94 3.215.043.933c-.502.348-.97.74-1.4 1.173L6.26 3.797l-.07 3.754.443.694a9.464 9.464 0 0 0-.647 1.796l-2.76-.43 1.522 2.753h3.08z"
        />
        <path d="M13.178 12.363h4.82c0-1.306-1.08-2.364-2.41-2.364s-2.41 1.058-2.41 2.363zM0 14.805v2.38h3.772c1.108 5.49 5.977 9.626 11.816 9.626 5.293 0 9.79-3.397 11.408-8.124h-7.87v-1.502h12.05v-2.38H0z"/>
    </symbol>
    <symbol id="icon-right-arrow" viewBox="0 0 18.944 13.984">
        <path d="M11.952 0l-1.414 1.414 4.578 4.58H0v2h15.116l-4.578 4.576 1.414 1.414 6.992-6.99z"/>
    </symbol>
    <symbol id="icon-service" viewBox="0 0 23.504 24.999">
        <path fill-rule="evenodd" clip-rule="evenodd"
                d="M23.504 25H0v-.168c.138-3.086.746-5.166 2.455-6.585 1.33-1.104 3.113-1.67 5.134-2.343 1.455 1.334 2.738 2.84 4.24 4.13 1.38-1.392 2.71-2.833 4.185-4.13 2.06.746 4.077 1.31 5.468 2.678 1.41 1.387 1.96 3.393 2.01 6.193.002.034.01.186.01.224zm-6.04-17.02c-.102-.336-.25-.367-.444-.615.057-1.396-.27-2.41-.726-3.292.34-2.106-.232-3.785-1.898-4.073H9.108C7.442.288 6.872 1.967 7.21 4.074c-.457.882-.782 1.895-.725 3.292-.193.247-.343.278-.446.613-.172.554-.028 1.485.278 2.008.18.307.475.354.558.614.36 1.13.76 2.148 1.506 3.013.785.908 2.036 1.68 3.37 1.715 1.334-.035 2.585-.808 3.37-1.715.747-.865 1.146-1.882 1.507-3.013.082-.26.377-.307.557-.614.305-.523.45-1.454.278-2.01zM14.51 6.64c-.605.215-1.61.27-2.557.273-.992-.003-2.35-.058-2.954-.273-.896-.318-1.312-1.31-1.45-2.064 1.218.2 7.194.2 8.413 0-.14.755-.556 1.746-1.452 2.064z"
        />
    </symbol>
    <symbol id="icon-user" viewBox="0 0 23.969 24.064">
        <path d="M11.985 11.386c3.14 0 5.693-2.554 5.693-5.693S15.125 0 11.985 0c-3.14 0-5.693 2.554-5.693 5.693s2.554 5.693 5.693 5.693zm0-9.333a3.645 3.645 0 0 1 3.64 3.64 3.644 3.644 0 0 1-3.64 3.64 3.645 3.645 0 0 1-3.64-3.64 3.645 3.645 0 0 1 3.64-3.64zM22.62 17.06c-1.437-1.437-5.082-3.11-10.635-3.11s-9.198 1.674-10.633 3.11C.008 18.4-.004 20.317 0 20.58v3.484h23.97V20.58c.004-.262-.01-2.178-1.35-3.52zm-.703 3.47v1.48H2.053v-1.48c-.002-.012-.014-1.257.75-2.02.93-.93 3.904-2.504 9.155-2.51 5.25.006 8.278 1.58 9.21 2.51.77.772.75 2.015.75 2.02z"
        />
    </symbol>
    <symbol id="icon-vk" viewBox="3.007 11.628 30.004 15.761">
        <path d="M26.945 27.388c-.386 0-1.17-.082-2.075-.632-.642-.385-1.223-.968-1.784-1.532-.438-.44-1.17-1.177-1.447-1.177-.27.075-.482.92-.477 1.57.004.112 0 .773-.468 1.212-.425.4-1.088.484-1.216.497l-1.927.007c-.967 0-4.358-.218-7.43-3.02-3.673-3.36-6.834-9.8-6.967-10.07-.197-.463-.248-1.067.152-1.483.392-.412 1.08-.47 1.36-.478l4.082-.024.115.008c.09.014.567.095.957.35.388.246.59.65.626.73.01.02.65 1.43 1.475 2.683 1.312 1.99 1.896 2.454 2.103 2.56.188-.416.277-1.7.187-2.87 0-.493-.1-1.098-.252-1.278-.11-.134-.425-.253-.777-.294l-.722-.69c-.095-.66.636-1.227 1.15-1.447.737-.315 1.792-.38 3.147-.38l.71.004c1.235.012 1.622.08 2.15.19 1.7.362 1.64 1.73 1.566 3.313-.02.464-.046 1-.046 1.62 0 .152-.005.313-.01.48-.013.38-.033 1.038.092 1.304.218-.144.85-.664 2.07-2.482.784-1.165 1.4-2.54 1.518-2.803.183-.43.61-.942 1.614-.947l4.274-.024c.012-.003.172-.016.377-.016.98 0 1.597.287 1.832.854.27.65.17 1.657-2.354 4.605-.37.432-.696.804-.98 1.127-.6.678-1.217 1.38-1.238 1.595.053.168.662.664 1.252 1.144 1.53 1.247 2.528 2.264 3.033 3.073.522.76.43 1.33.258 1.677-.424.864-1.638.973-1.877.985l-3.79.046a2.525 2.525 0 0 1-.263.012zm-5.307-4.84c.9 0 1.682.786 2.51 1.618.498.5 1.012 1.016 1.497 1.307.727.44 1.316.42 1.398.412l.103-.01 3.805-.046c.172-.013.412-.074.537-.137a1.167 1.167 0 0 0-.098-.167c-.45-.718-1.39-1.66-2.687-2.718-1.184-.963-1.8-1.465-1.865-2.244-.066-.805.493-1.44 1.607-2.703.28-.317.604-.684.967-1.108 1.56-1.82 1.957-2.64 2.058-2.956-.17-.03-.648-.02-.678-.018l-4.36.028c-.192 0-.25.035-.25.036-.176.414-.812 1.812-1.644 3.05-1.895 2.82-2.785 3.2-3.407 3.2-.203 0-.395-.05-.568-.147-1.003-.57-.963-1.834-.934-2.757.005-.15.01-.295.01-.43 0-.647.025-1.208.048-1.69.076-1.68.016-1.692-.38-1.776-.408-.086-.704-.147-1.855-.16l-.692-.004c-.624 0-1.343.014-1.906.098.092.074.18.157.26.25.587.705.603 1.952.6 2.195.13 1.647.06 3.797-1.018 4.314a1.365 1.365 0 0 1-.597.137c-.926 0-1.854-.884-3.425-3.266a22.863 22.863 0 0 1-1.587-2.887.47.47 0 0 0-.075-.094 1.133 1.133 0 0 0-.32-.116l-4 .024-.07.006c.59 1.19 3.425 6.592 6.518 9.42 2.74 2.5 5.826 2.628 6.417 2.628l1.85-.003c.047-.01.22-.06.27-.1-.02.02-.01-.052-.01-.096-.003-.265.012-2.595 1.578-3.034.126-.034.26-.052.395-.052z"
        />
    </symbol>
</svg>