{include file='zobject/header.tpl'}	
	<fieldset class="group">
		<legend class="group-title">Импорт</legend>
		
		
		<p><a href="/catalogue/:xlsinit">Начать импорт каталога (картинки + описание)</a></p>
		<p>&nbsp;</p>
		<p><a href="/catalogue/:update_html">Обновить только описание</a></p>
		<p><a href="/catalogue/:update_pic">Обновить только картинки</a></p>
		<p>&nbsp;</p><p>&nbsp;</p>
		<p><a href="/catalogue/:sitemap">Сгенерировать карту сайта</a></p>
		<p>&nbsp;</p><p>&nbsp;</p>
		<p><a href="/catalogue/:genNewPrice?gen_dealer_price=1">Сгенерировать прайс</a></p>
		<p>&nbsp;</p><p>&nbsp;</p>
		<p style="font-size:18px;padding:10px;text-align:center">{if isset($msg)}{$msg}{/if}</p>
		
		
	</fieldset>
{include file='zobject/footer.tpl'}
