body {
  -webkit-text-size-adjust: none;
}
@media (min-width: 768px) {
  body.menu-is-open .header-info {
    transform: translate3d(500px, 0, 0);
  }
}

.main__slogan-title {
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .main__slogan-title {
    font-size: 14px;
    margin-top: 15px;
    letter-spacing: -0.5px;
  }
}

.nav__item + .nav__item:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -15px;
  margin: auto;
  background: url("../images/nav-arrow.svg") no-repeat;
  background-size: 100%;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .blog-p .nav,
  .blog-p .header-info {
    color: #444444;
  }
}
@media (max-width: 767px) {
  .blog-p .footer {
    display: block;
  }
}

.blog-inner-p .nav__top {
  position: absolute;
}
@media (max-width: 767px) {
  .blog-inner-p .footer {
    display: block;
  }
}

@media (min-width: 768px) {
  .blog {
    height: 100%;
  }
  .blog .swiper-container {
    height: 100%;
  }
}
@media (min-width: 1026px) {
  .blog .swiper-slide {
    border-right: 1px solid #e5e5e5;
  }
}
@media (max-width: 767px) {
  .blog {
    padding: 50px 0 0;
  }
  .blog .swiper-container,
  .blog .swiper-wrapper {
    display: block !important;
  }
  .blog .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .blog .swiper-slide:last-child .blog-elem__inner {
    border-bottom: none;
  }
  .blog .screen-form {
    border-top: 1px solid #e5e5e5;
  }
}

.blog-elem {
  display: block;
}
@media (min-width: 768px) {
  .blog-elem {
    height: 100%;
  }
}
@media (max-width: 1025px) and (min-width: 768px) {
  .blog-elem {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .blog-elem {
    padding: 0 30px;
  }
}
@media (min-width: 767px) {
  .blog-elem__inner {
    width: 305px;
    margin: 25% auto 0;
  }
}
@media (max-width: 1025px) and (min-width: 768px) {
  .blog-elem__inner {
    width: 100%;
    height: 460px;
    max-width: 435px;
    margin: 0 0 0 65px;
  }
}
@media (max-width: 767px) {
  .blog-elem__inner {
    padding: 25px 0;
    border-bottom: 1px solid #e5e5e5;
  }
}
.blog-elem__date {
  font-size: 14px;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .blog-elem__date {
    font-size: 12px;
  }
}
.blog-elem__image {
  width: 260px;
  height: 170px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .blog-elem__image {
    margin-bottom: 15px;
  }
}
.blog-elem__title {
  font-size: 24px;
  color: #000;
  line-height: 1.3;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .blog-elem__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.blog-elem__description {
  font-size: 18px;
  color: #444444;
}
@media (max-width: 767px) {
  .blog-elem__description {
    font-size: 16px;
  }
}

.swiper-button.style_gray:not(.swiper-button--fill) {
  border-color: rgba(0, 0, 0, 0.2);
}
.swiper-button.style_gray:not(.swiper-button--fill):hover {
  border-color: rgba(0, 0, 0, 0.6);
}
.swiper-button.style_gray:not(.swiper-button--fill) svg {
  fill: #505050;
}
@media (max-height: 768px) {
  .swiper-button.style_sm {
    width: 30px;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: none;
    opacity: 0.3;
  }
  .swiper-button.style_sm:hover {
    opacity: 0.6;
  }
  .swiper-button.style_sm.swiper-button--prev {
    left: 5px;
    background: url("../images/arrow-left-l.svg") no-repeat center center;
  }
  .swiper-button.style_sm.swiper-button--next {
    right: 5px;
    background: url("../images/arrow-right-l.svg") no-repeat center center;
  }
  .swiper-button.style_sm.swiper-button-disabled {
    opacity: 0.1;
  }
  .swiper-button.style_sm svg {
    display: none;
  }
}

.blog-inner .container {
  max-width: 830px;
}
@media (max-width: 1025px) and (min-width: 768px) {
  .blog-inner .container {
    max-width: 560px;
  }
}
@media (max-width: 767px) {
  .blog-inner .container {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }
}
.blog-inner__head {
  color: #fff;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 85px;
}
@media (max-width: 1025px) {
  .blog-inner__head {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .blog-inner__head {
    height: 365px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .blog-inner__head {
    height: 265px;
  }
}

.blog-inner__head .container {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 85px;
  position: relative;
}
@media (max-width: 1025px) {
  .blog-inner__head .container {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .blog-inner__head .container {
    padding-bottom: 50px;
  }
}
.blog-inner__title {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
@media (max-width: 1025px) {
  .blog-inner__title {
    font-size: 40px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .blog-inner__title {
    font-size: 24px;
    line-height: 1.2;
  }
}
.blog-inner__date {
  width: 235px;
  height: 56px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0;
  position: absolute;
  bottom: -28px;
  left: 15px;
  text-align: center;
  background: #444444;
}
@media (max-width: 1025px) {
  .blog-inner__date {
    height: 50px;
    padding: 12px 0;
    bottom: -25px;
  }
}
@media (max-width: 767px) {
  .blog-inner__date {
    width: auto;
    height: 46px;
    font-size: 16px;
    padding: 11px 40px;
    left: 30px;
    right: 30px;
  }
}

.article {
  font-size: 20px;
  color: #444444;
}
@media (max-width: 767px) {
  .article {
    font-size: 16px;
  }
}
.article .medium__title {
  color: #000;
}
.article h2 {
  max-width: 670px;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000;
}
@media (max-width: 767px) {
  .article h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.article p {
  max-width: 670px;
  margin-bottom: 25px;
}
.article p + img, .article p + h2 {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .article p + img, .article p + h2 {
    margin-top: 30px;
  }
}
.article img {
  margin: 35px 0;
  display: block;
  max-width: 100%;
}
.article img + h2, .article img + p {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .article img + h2, .article img + p {
    margin-top: 30px;
  }
}
@media (max-width: 1025px) {
  .article img {
    margin: 25px 0;
  }
}
@media (max-width: 767px) {
  .article img {
    margin: 10px 0;
  }
}
.article__button {
  margin: 40px 0;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .article__button {
    margin: 20px 0;
  }
}
.article__button .button {
  display: inline-block;
}

@media (max-width: 767px) {
  .prod-grid {
    margin: 30px -30px;
    background: #f2f2f2;
    border-top: 1px solid #e5e5e5;
  }
}

.prod-tile {
  display: block;
  margin: 60px 0;
}
@media (min-width: 768px) {
  .prod-tile:hover .prod-tile__image,
  .prod-tile:hover .prod-tile__title {
    opacity: 0.6;
  }
  .prod-tile:active .prod-tile__image,
  .prod-tile:active .prod-tile__title {
    opacity: 0.3;
  }
}
@media (min-width: 1026px) {
  .prod-tile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767px) {
  .prod-tile {
    margin: 0;
    padding: 20px 30px 35px;
    border-bottom: 1px solid #e5e5e5;
  }
}
.prod-tile__image {
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  transition: 300ms ease-out;
}
@media (min-width: 1026px) {
  .prod-tile__image {
    width: 340px;
    height: 220px;
  }
}
@media (max-width: 1025px) {
  .prod-tile__image {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .prod-tile__image {
    height: 225px;
    border: none;
  }
}
.prod-tile__image img {
  max-width: 100%;
  max-height: 100%;
}
.prod-tile__info {
  position: relative;
}
@media (min-width: 1026px) {
  .prod-tile__info {
    height: 220px;
    width: calc(100% - 340px);
    padding-left: 65px;
  }
}
.prod-tile__info-top {
  padding: 25px 0 20px;
  border-top: 2px solid #444444;
}
@media (max-width: 767px) {
  .prod-tile__info-top {
    padding: 10px 0 15px;
  }
}
.prod-tile__info-top:after {
  content: "";
  clear: both;
  display: block;
}
.prod-tile__info-main {
  font-size: 18px;
  color: #444444;
}
@media (max-width: 1025px) {
  .prod-tile__info-main {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .prod-tile__info-main {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1026px) {
  .prod-tile__info-bottom {
    position: absolute;
    bottom: 0;
  }
}
.prod-tile__info-bottom .button {
  font-size: 16px;
  display: inline-block;
}
.prod-tile__title {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  color: #444444;
  transition: 300ms ease-out;
}
@media (max-width: 767px) {
  .prod-tile__title {
    font-size: 16px;
  }
}
.prod-tile__price {
  float: right;
  color: #444444;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .prod-tile__price {
    font-size: 16px;
  }
}

.material_swiper .service-elem:after {
  background: rgba(0, 0, 0, 0.57);
}
@media (min-width: 768px) {
  .material_swiper .service-elem:hover:after {
    background: rgba(0, 0, 0, 0.69);
  }
  .material_swiper .service-elem:hover .service-elem__more-link {
    opacity: 1;
  }
  .material_swiper .service-elem__title {
    min-height: 56px;
  }
  .material_swiper .service-elem__info {
    -webkit-transform: translate3d(0, 28%, 0) !important;
    transform: translate3d(0, 28%, 0) !important;
  }
  .material_swiper .service-elem__description {
    padding-top: 30px;
  }
  .material_swiper .service-elem__description,
  .material_swiper .service-elem__description-inner {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .material_swiper {
    min-height: 420px;
  }
  .material_swiper .service-elem__info {
    height: 100%;
  }
  .material_swiper .service-elem__description {
    font-size: 16px;
  }
  .material_swiper .service-elem__description br {
    display: none;
  }
}

a.service-elem {
  display: block;
}

.service-elem__more-link {
  display: inline-block;
  margin-top: 35px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 300ms ease-out;
}
@media (min-width: 1026px) {
  .service-elem__more-link {
    opacity: 0;
  }
  .service-elem__more-link:hover {
    opacity: 0.6;
  }
  .service-elem__more-link:active {
    opacity: 0.3;
  }
}
@media (max-width: 767px) {
  .service-elem__more-link {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
  }
}
.service-elem__more-link img {
  margin-left: 12px;
  width: 5px;
  height: 8px;
  position: relative;
  top: -2px;
}

@media (max-width: 767px) {
  .header-nav {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .header-nav__item:first-child {
    margin-right: 0;
  }
  .header-nav__item:nth-child(2) {
    order: -1;
    margin-right: 25px;
  }
  .header-nav__item:nth-child(2) .header-nav__more {
    margin-right: calc(-100% - 25px);
  }
}

.header-nav__list {
  color: #444444;
  font-size: 16px;
  padding: 10px 0 20px;
  display: none;
}
@media (min-width: 768px) {
  .header-nav__list {
    display: none !important;
  }
}
.header-nav__list li:not(:last-child) {
  margin-bottom: 5px;
}

.header-nav__more {
  height: 40px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 25px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
}
.header-nav__more:before {
  content: "";
  position: absolute;
  height: 1px;
  top: 0;
  left: -35px;
  right: -55px;
  background: #e5e5e5;
}
.header-nav__more:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: -35px;
  right: -55px;
  background: #e5e5e5;
}

.header-submenu {
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 645px;
  background: #fff;
  z-index: 8;
  border-left: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
@media (min-width: 768px) {
  .header-submenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1025px) {
  .header-submenu {
    width: auto;
    left: 645px;
    right: 0;
    z-index: 9;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }
}
@media (max-width: 991px) {
  .header-submenu {
    left: 375px;
  }
}
@media (max-width: 767px) {
  .header-submenu {
    left: 0;
    top: 76px;
    bottom: auto;
    border: none;
    padding-bottom: 40px;
  }
}
.header-submenu.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header-submenu__more-link {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  padding: 0 60px;
  font-family: "FTN55__W";
  text-transform: uppercase;
  color: rgba(68, 68, 68, 0.3);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
@media (min-width: 768px) {
  .header-submenu__more-link:hover {
    color: #444444;
  }
  .header-submenu__more-link:hover svg {
    opacity: 1;
  }
  .header-submenu__more-link:active {
    color: rgba(68, 68, 68, 0.1);
  }
  .header-submenu__more-link:active svg {
    opacity: 0.1;
  }
}
@media (max-width: 767px) {
  .header-submenu__more-link {
    height: 40px;
    color: #444444;
    font-size: 16px;
    font-family: "FTN45__W";
    padding: 0 30px;
    bottom: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}
.header-submenu__more-link svg {
  position: absolute;
  right: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #444444;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header-subnav {
  color: #444444;
  padding: 0 60px;
}
@media (min-width: 768px) {
  .header-subnav {
    margin-top: -45px;
  }
}
@media (max-width: 767px) {
  .header-subnav {
    padding: 25px 30px;
  }
}
.header-subnav__item {
  position: relative;
  transition: 200ms;
}
.header-subnav__item:hover {
  opacity: 0.6;
}
.header-subnav__item:active {
  opacity: 0.3;
}
.header-subnav__link {
  font-size: 18px;
  display: block;
  padding: 7px 0;
}
@media (max-width: 767px) {
  .header-subnav__link {
    font-size: 16px;
    padding: 5px 0;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header-menu .header-nav {
    max-width: 370px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header-nav__item {
    width: calc(33.3333% - 25px);
  }
  .header-nav__item:nth-child(2n) {
    margin-right: 25px;
  }
  .header-nav__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .catalog-p .screen-material__inner {
    max-width: 100%;
    height: auto;
    padding: 100px 120px;
  }
  .catalog-p .screen-material__inner p,
  .catalog-p .screen-material__inner h2 {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .catalog-p .screen-material__inner {
    padding: 35px 30px 30px;
  }
}

.is-last-slide .js-filterBurger {
  opacity: 0 !important;
  visibility: hidden;
}

.catalog__article h1 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
@media (max-width: 767px) {
  .catalog__article h1 {
    margin-bottom: 25px;
  }
}
.catalog__article h2 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
  color: #787878;
  font-family: "FTN55__W";
}
.catalog__article p {
  font-size: 16px;
  color: #787878;
  margin-bottom: 20px;
}

.scroll-container {
  height: 100%;
  outline: none;
}

.contact__tab-header {
  margin-bottom: 30px;
}

.contact__tab-link {
  font-family: "FTN55__W";
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  transition: 300ms ease-out;
}
@media (max-width: 767px) {
  .contact__tab-link {
    font-size: 18px;
  }
}
.contact__tab-link:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 767px) {
  .contact__tab-link:not(:last-child) {
    margin-right: 16px;
  }
}
.contact__tab-link:not(.is-active) {
  color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.contact__tab-body > div {
  display: none;
}

@media (max-width: 359px) {
  .header__contact [href^=mailto] {
    display: none;
  }
}

.contact__elem svg {
  fill: #7c7c7c;
}
.contact__elem .icon-m-top-phone {
  width: 16px;
  height: 21px;
}

.burger__mobile {
  opacity: 0.8;
}

.header-info {
  position: fixed;
  top: 47px;
  right: 40px;
  display: flex;
  align-items: center;
  z-index: 3;
  color: #fff;
  transition: 300ms transform;
}
@media (max-width: 767px) {
  .header-info {
    z-index: 11;
    top: 17px;
    right: 82px;
  }
}
@media (max-width: 359px) {
  .header-info {
    right: 52px;
  }
}
.header-info__social {
  display: flex;
}
@media (min-width: 768px) {
  .header-info__social:not(:last-child) {
    margin-right: 40px;
  }
}
.header-info__link {
  display: block;
}
.header-info__link:not(:last-child) {
  margin-right: 12px;
}
.header-info__link img {
  width: 23px;
}
@media (min-width: 768px) {
  .header-info__link {
    transition: 300ms ease-out;
  }
  .header-info__link:hover {
    opacity: 0.6;
  }
  .header-info__link:active {
    opacity: 0.3;
  }
}
@media (max-width: 767px) {
  .header-info__link:not(:last-child) {
    margin-right: 5px;
  }
  .header-info__link img {
    width: 15px;
  }
}
.header-info__phone {
  display: flex;
  align-items: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .header-info__phone {
    transition: 300ms ease-out;
  }
  .header-info__phone:hover {
    opacity: 0.6;
  }
  .header-info__phone:active {
    opacity: 0.3;
  }
}
@media (max-width: 767px) {
  .header-info__phone {
    display: none;
  }
}
.header-info__phone svg {
  margin-right: 15px;
}

.catalog-p .header-info {
  color: #444444;
}

@media (max-height: 767px) {
  .main-info {
    min-height: 580px;
  }
}

.main-address {
  opacity: 0.2;
  color: #ffffff;
  font-family: "FTN45__W";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-address {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 3;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .main-address {
    top: calc(100% + 80px);
  }
}
@media (min-width: 768px) {
  .main-address__time {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .main-address {
    font-size: 14px;
    opacity: 1;
    margin: 30px 0;
  }
  .main-address__time {
    display: block;
  }
}

@media (min-width: 768px) {
  .cat-control:nth-child(4) {
    -webkit-transition: 300ms ease-out, 400ms 4100ms transform, 400ms 4100ms opacity;
    transition: 300ms ease-out, 400ms 2100ms transform, 400ms 2100ms opacity;
  }
  .cat-control:nth-child(5) {
    -webkit-transition: 300ms ease-out, 400ms 4400ms transform, 400ms 4400ms opacity;
    transition: 300ms ease-out, 400ms 2400ms transform, 400ms 2400ms opacity;
  }
  .cat-control:nth-child(6) {
    -webkit-transition: 300ms ease-out, 400ms 4700ms transform, 400ms 4700ms opacity;
    transition: 300ms ease-out, 400ms 2700ms transform, 400ms 2700ms opacity;
  }
  .cat-control.size_small:hover {
    width: 240px;
  }
  .cat-control.size_small .cat-control__title {
    width: 175px;
  }
  .cat-control.size_middle:hover {
    width: 270px;
  }
  .cat-control.size_middle .cat-control__title {
    width: 205px;
  }
}

@media (max-width: 767px) {
  .header-menu {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .header-nav {
    margin-top: 0;
  }
}

.header-list {
  color: #000000;
  font-family: "FTN45__W";
  font-weight: 400;
}
@media (min-width: 768px) {
  .header-list {
    font-size: 19px;
    line-height: 30px;
    margin-top: 10px;
  }
  .header-list__item {
    width: 160px;
  }
  .header-list__item:first-child {
    float: left;
  }
  .header-list__item:nth-child(2n) {
    float: right;
  }
  .header-list__link {
    opacity: 0.6;
    transition: 300ms ease-out;
  }
  .header-list__link:hover {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .header-list {
    color: #444444;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .header-list {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .header-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .header-list__item {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .header-list__link {
    opacity: 0.6;
  }
}

.filter-burger {
  top: 35px;
  background-color: #e5e5e5;
  height: 50px;
  padding: 0 25px 0 65px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .filter-burger {
    display: none;
  }
}

.filter-burger__icon {
  left: 25px;
  top: 12px;
}

.filter__head {
  padding-top: 50px;
  padding-bottom: 30px;
}

.filter__head-close {
  top: 37px;
}

.catalog-burger {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding: 0 15px 2px;
  z-index: 3;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .catalog-burger {
    display: none;
  }
}
.catalog-burger__label {
  opacity: 0.8;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1026px) {
  .contact__items {
    position: relative;
  }
}

.contact__social {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1025px) {
  .contact__social {
    top: -11px;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .contact__social {
    display: none;
  }
}

.button-scroll-up {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 3;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4) url("../images/scroll-down.svg") no-repeat;
  background-size: 14px 8px;
  background-position: center center;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 50px, 0) scale(0.9) rotate(180deg);
  transition: 300ms ease-out;
}
.button-scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0) rotate(180deg);
}
@media (min-width: 768px) {
  .button-scroll-up {
    display: none;
  }
  .button-scroll-up:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  .button-scroll-up:hover svg {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .button-scroll-up {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }
}

.nav__return {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 768px) {
  .nav__return {
    transition: 300ms ease-out;
  }
  .nav__return:hover {
    opacity: 0.6;
  }
  .nav__return:active {
    opacity: 0.3;
  }
}
.nav__return span {
  margin-right: 15px;
}

body.nav-is-gray .nav__return {
  color: #444;
}

.product-p.nav-is-gray .header-info {
  color: #444;
}

.header-info-is-gray .header-info {
  color: #444;
}

@media (min-width: 768px) {
  .contact-p .header-info {
    display: none;
  }
}

.text-p .header-info {
  color: #444;
}
@media (max-width: 767px) {
  .text-p .footer {
    display: block;
  }
}

.text-inner .container {
  max-width: 830px;
}
@media (max-width: 1025px) and (min-width: 768px) {
  .text-inner .container {
    max-width: 560px;
  }
}
@media (max-width: 767px) {
  .text-inner .container {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }
}
.text-inner__head {
  color: #000;
  background-color: #f2f2f2;
  padding: 150px 0 60px;
  margin-bottom: 85px;
}
@media (max-width: 1025px) {
  .text-inner__head {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .text-inner__head {
    padding: 90px 0 40px;
    margin-bottom: 40px;
  }
}
.text-inner__head .container {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}
.text-inner__title {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
@media (max-width: 1025px) {
  .text-inner__title {
    font-size: 40px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .text-inner__title {
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }
}
.text-inner__body {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .text-inner__body {
    padding-bottom: 30px;
  }
}

.footer .header-list,
.footer .header-nav__list,
.footer .header-nav__more {
  color: #fff;
}
.footer .header-list {
  margin: 10px 0 -10px;
}
.footer .header-nav__more:before, .footer .header-nav__more:after {
  background-color: rgba(255, 255, 255, 0.2);
}
