html{height:100%}
body{font-size:12px;height:100%;}
#wrap{min-height:100%;-height:100%;}
.footer_before{height:80px;}
.footer{height:40px;margin-top:-40px;position:relative}
.footer .cms_version{padding:0 20px;display:inline-block;line-height:120%;}

/* typografic */
.f11{font-size:11px;line-height:120%}
.f12{font-size:12px;line-height:120%}
.f13{font-size:13px;line-height:120%}
.f14{font-size:14px;line-height:120%}
.f16{font-size:16px;line-height:120%}
.f18{font-size:18px;line-height:120%}

.mb0{margin-bottom:0}
.mb10{margin-bottom:10}
.mb20{margin-bottom:20}

.mr20{margin-right:20px}
.ml20{margin-left:20px}
.border-bottom{border-bottom:1px solid #ddd}

.navbar-inner{border-radius:0}

/* nodes */
#nodes{list-style-type:none;margin-left:20px}
#nodes ul{list-style-type:none;margin-left:16px;}
#nodes li{line-height:14px;margin-top:6px;margin-bottom:6px}
#nodes .folder{margin-right:3px;margin-top:0px}
#nodes .list{margin-right:3px;margin-top:0px}
#nodes .nodes-item-holder{padding-left:20px}
#nodes .nodes-item-holder .leaf{margin-left:-21px;margin-right:3px}
#nodes .nodes-item-holder a.folder{margin-left:-20px}
#nodes .nodes-item-holder a.list{margin-left:-20px}
#nodes .item-opened{text-decoration:underline}


/* nodes user */
#nodes_user{list-style-type:none;margin-left:0px;width:400px}
#nodes_user ul{list-style-type:none;margin-left:16px;}
#nodes_user li{line-height:14px;margin-top:3px;margin-bottom:3px}
#nodes_user .folder{margin-right:3px;margin-top:0px}
#nodes_user .list{margin-right:3px;margin-top:0px}
#nodes_user .nodes-item-holder{padding-left:20px;height:1%;overflow:hidden}
#nodes_user .nodes-item-holder .leaf{margin-left:-21px;margin-right:3px}
#nodes_user .nodes-item-holder a.folder{margin-left:-20px}
#nodes_user .nodes-item-holder a.list{margin-left:-20px}
#nodes_user .item-opened{text-decoration:underline}
#nodes_user .checkbox{display:block;float:right;}

/* forms */
form{margin:0}
.well-panel{margin:0 -20px 20px -20px;border-radius:0;border-left:0;border-right:0;padding:10px 20px}
.well-panel-controll{margin:20px -20px 0 -20px}
.input-text{font-size:12px;line-height:120%}
.input-textarea{font-size:12px;line-height:120%;height:150px}

/* side */
.side_p{margin:0 20px;padding-bottom:5px}
.side_p_border{margin:0 20px 5px 20px;padding-bottom:5px;border-bottom:2px solid #ccc}

/* fm */
.ga-gallery {height:1%;overflow:hidden;list-style-type:none}
.ga-item {background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;float:left;margin:0 5px 5px 0;padding:5px;position:relative}
.ga-item-place-holder {background:none repeat scroll 0 0 #FFFFEE;border:1px dashed #AAAAAA;float:left;margin:0 5px 5px 0;padding:5px}
.ga-col {display:block;float:left;margin:5px;background:#ccc}
.ga-name {display:none}
.ga-title {display:none}
.ga-del {background-color:#FFFFFF;display:none;position:absolute;right:0;text-align:center;top:0;vertical-align:middle}
.ga-item:hover .ga-del {display:block}

.bc{list-style:none;margin:0 0 20px 0;padding:0;font-size:12px}
.bc li{display:inline-block}

.table{}
.table .added td{background:#ffc}
.table th,
.table td {line-height:145%}



.table2{width:100%}
.table2 td{vertical-align:middle;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
.table2 td input{margin:6px 0;}
.table2 td select{margin:6px 0;}


/* header */
.header{background:#eee;margin-bottom:20px;padding:15px 0;border-bottom:0px solid #ccc;}
.header a{}
.header__name{font:22px Georgia,Arial;color:#000}

.header .btn{}

.btn{border-radius:0}
.btn-group .btn{border-radius:0}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .btn-group > .btn:first-child{border-radius:0}


#wrap textarea, #wrap input, #wrap select {border-radius:2px;border-width:2px;font-size:13px;line-height:20px;height:auto;}

.btn{border-radius:2px;border-width:2px;height:auto;}
.btn-mini, .btn-small{border-radius:0px;border-width:1px}

.btn{background:#f5f5f5}
.btn-default{background:#f5f5f5}
.btn-danger{background:#da4f49}
.btn-info{background:#49afcd}
.btn-primary{background:#006dcc}
.btn-success{background:#5bb75b}
.btn-warning{background:#faa732}
.btn-inverse{background:#363636}
.btn-link{background:none}



