<table class="cat_list2">
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	<tr>
		<td class="photo"><img src="http://img.c-net-shopping.ru/f/channel/a/4/7V_a.png"></td>
		<td>
			<h3>Заголовок</h3> 
			Краткое описание
		</td>
		<td class="cost">00000&nbsp;Р.</span></td>
	</tr>
	
</table>